@model ikloud_Aflatoon.Models.changePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    ChangePassword</h2>
@section scripts{
    <script type="text/javascript" src="../../Scripts/AbidJS.js"></script>
}

@using (Html.BeginForm("ChangePassword", "CreateUserNew"))
{
   
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.loginUsrid) 
    @Html.HiddenFor(m => m.firstlogin)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.policyid)
    <input type="hidden" name="tempfl" id="tempfl"  value="@Model.flg" />
    <input type="hidden" id="chngpass" name="chngpass" value="pass" />
    
@*<table id="tt">
      <tr>
        <td class="editor-label">*@
    <div>
        @Html.LabelFor(model => model.UserId)</div>
      
@* @Html.EditorFor(model => model.UserId, new { @disable = true })*@
    <div style="text-align: left">
        @Html.TextBoxFor(model => model.UserId, new { disabled = "disabled", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.UserId)</div>
@* </td>
       </tr>
       <tr>
        <td class="editor-label">*@
    <div>
        @Html.LabelFor(model => model.OldPassword)</div>
       
    <div style="text-align: left">
        @Html.EditorFor(model => model.OldPassword)
        @Html.ValidationMessageFor(model => model.OldPassword)</div>
@*</td>
        </tr>
        <tr>
        <td class="editor-label">*@
    <div>
        @Html.LabelFor(model => model.NewPassword)</div>
      
    <div style="text-align: left">
        @Html.EditorFor(model => model.NewPassword)
        @Html.ValidationMessageFor(model => model.NewPassword)</div>
@*</td>
        </tr>
        <tr>*@
    <div>
        @Html.LabelFor(model => model.ConfrmPassword)</div>
    <div style="text-align: left">@Html.EditorFor(model => model.ConfrmPassword)
        @Html.ValidationMessageFor(model => model.ConfrmPassword)
    </div>
    <div>
        <p>
        </p>
    </div>
    <div style="text-align: left">
        @*<td>*@<input type="submit" name="btn" id="chan" value="Change" /> <!-- onclick="return(changePassword());" -->
        &nbsp; &nbsp;
        <input type="submit" name="btn" id="canc" value="Cancel" />@* </td>*@
    </div>
@* </tr>
        </table>*@
    @*<div style="display: none">
        @Html.Action("PolicyDetails", null, new { id = Model.policyid })
    </div>*@
}
<script type="text/javascript">
    document.getElementById('OldPassword').focus();
</script>
