@model ikloud_Aflatoon.SMBDataEntryView
@{
    ViewBag.Title = "L1 Verification";
    ViewBag.header = "L1 Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "@Url.Content("~/xhtml1-transitional.dtd")>

<script src="~/Scripts/Json2.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/jQueryRotate.js"></script>
<script src="~/Scripts/OWSmbDataEntry.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script type="text/javascript">
    var RootUrl = '@Url.Content("~/")';
</script>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<!--<link href="~/Content/Abids.css" rel="stylesheet" />

    <script src="~/Scripts/Json2.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
-->
<input type="hidden" name="acmin" id="acmin" value="@Session["acfrm"]" />
<input type="hidden" id="nodata" value="@ViewBag.cnt" />
<input type="hidden" id="cnt" value="1" />
<input type="hidden" id="tempcnt" value="1" />
<input type="hidden" name="blockkey" id="blockkey" value="0" />
<input type="hidden" id="postdt" value="@Session["PostDate"]" />
<input type="hidden" id="staledt" value="@Session["StaleDate"]" />
<input type="hidden" id="oldact" />
<input type="hidden" id="oldClient" />
<input type="hidden" id="NarrationID" value="@Session["Narration"]" />
<input type="hidden" id="ofc" value="0" />
<input type="hidden" name="allowAlpha" id="allowAlpha" value="@Session["ACAlphaAllow"]" />

<div class="w3-hide">
 
</div>

@if (ViewBag.cnt == false)
{
    <script type="text/javascript">
        alert('No Data Found!!');
    </script>
}
else
{

    using (Html.BeginForm("OWL1", "OWSMBDataEntry", FormMethod.Post))
    {
        <div class="w3-row">
            <!--Column 1-->

            <div class="w3-col m9 w3-grey w3-padding w3-large" id="ClntsDtlsdiv" style="display: none">

                <div class="w3-container" style="float: initial">
                    <label class="w3-label w3-padding w3-text-dark-grey w3-left-align" style="float: initial">Client Code </label>
                    <input class=" w3-input   w3-border-blue w3-padding" style="width: 150px; float: left; font-weight: 500" type="text" id="ClientCd" name="ClientCd" maxlength="8" />
                    <input class="w3-btn w3-margin-left" type="button" value="Get" id="ClntsDtls" name="ClntsDtls" onclick="clientdtls();" />

                    <div id="clientdetails" class="w3-container" style="float: right; font-weight: 500; color: darkblue">
                    </div>
                </div>
            </div>
            <!--Column 2-->
            <div class="w3-col m9  w3-xlarge ">
                <div class="w3-row">
                    <div class="w3-container w3-col m4">

                    </div>
                    <div class="w3-container w3-col m4">
                    </div>
                    <div class="w3-container w3-col m4">
                    </div>
                </div>

                <div class="w3-col m4  w3-xlarge">
                    <span class="w3-text-red" style="display:none" id="bankname"></span>
                </div>

            </div>


            <!--Column 3-->

        </div>
        <div class="w3-row w3-grey">

            <div class="w3-col m7 w3-center w3-dark-grey w3-padding">
                <img id="myimg" class="w3-card-8 w3-image" style="cursor: zoom-in" onclick="fullImage();" src="~/Icons/noimagefound.jpg" />

                <div id="divtiff">
                </div>


                <div id="iwimg" class="w3-modal w3-animate-zoom" onclick="this.style.display='none'">
                    <img id="myfulimg" class="w3-modal-content w3-card-8 w3-image" style="width: 90%; cursor: zoom-out" src="~/Icons/noimagefound.jpg" />
                </div>

                <div class="w3-row w3-large w3-padding" style="display: none" id="MICR">
                    <div class="w3-col w3-center m2 ">
                        MICR:
                    </div>
                    <div class="w3-col w3-center m8 ">
                    </div>
                    <div class="w3-col w3-center m2" id="divctsnoncts" style="display: none">
                        <select id="ctsnocts" name="ctsnocts">
                            <option value="01">CTS</option>
                            <option value="11">Non-CTS</option>
                        </select>
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="w3-col m8">
                        <label class="w3-btn" onclick="callrotate();">Rotate Image</label>
                        <label class="w3-btn" onclick="ChangeImage('FTiff');">Front Tiff</label>
                        <label class="w3-btn" onclick="ChangeImage('FGray');">Front Gray</label>
                        <label class="w3-btn" onclick="ChangeImage('BTiff');">Back Tiff</label>
                        <label class="w3-btn" id="lblslpimg" style="display:none">Slip Image</label>
                    </div>

                </div>
            </div>

            <div class="w3-col m2 w3-large ">
                <div>
                    <br />
                    <b>Cheque Data Entry Details</b>
                    <br />
                    <br />
                    <br />
                    <table cellpadding="0" cellspacing="0" >
                        <tr>
                            <th colspan="2"  align="center"></th>
                        </tr>
                        
                        @Html.HiddenFor(m => m.Id, new { id = "L1ID" })
                        @Html.HiddenFor(m => m.captureRawId, new { id = "RawDataId" })
                        @Html.HiddenFor(m => m.InstrumentType, new { id = "InstrumentType" })
                        @Html.HiddenFor(m => m.CustomerId, new { id = "CustomerId" })
                        @Html.HiddenFor(m => m.DomainId, new { id = "DomainId" })
                        @Html.HiddenFor(m => m.ScanningNodeId, new { id = "ScanningNodeId" })

                        <tr>
                            <td>Date: </td>
                            <td>
                                @Html.TextBoxFor(m=>m.ChqDate)
                            </td>
                        </tr>
                        <tr>
                            <td>Amount: </td>
                            <td>
                                @Html.TextBoxFor(m=>m.ChqAmt)
                            </td>
                        </tr>
                        <tr>
                            <td>Account No: </td>
                            <td>
                                @Html.TextBoxFor(m => m.ChqAcno)
                            </td>
                        </tr>
                        <tr>
                            <td>Payee Name: </td>
                            <td>
                                @Html.TextBoxFor(m => m.ChqPayeeName)
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Save" id="btnSubmit" name="btnSubmit" /></td>
                            <td><input type="submit" value="Close" id="btnSubmit" name="btnSubmit" /></td>
                        </tr>
                    </table>
                </div>
                <br />
                <br />
                <div class="w3-container" style="float: initial">
                    @*<input class="w3-btn w3-margin-right" type="button" value="Ok" id="ok" name="ok" />
                    <input class="w3-btn" type="button" id="btnback" value="Back" style="display: none" />
                    <input class="w3-btn" type="button" id="btnClose" value="Close" />*@
                    @*<span class="w3-opennav w3-text-black w3-large w3-hover-amber" onclick="getIwlogs();">&#9776; AL</span>*@
                </div>
                <div>

                </div>
            </div>
            </div>
            }
           
}



            

