@model List<ikloud_Aflatoon.Infrastructure.IwSessionDashBoardData>
@{
    ViewBag.header = "Session Wise Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cheques Details";
}

<script type="text/javascript">

    var RootUrl = '@Url.Content("~/")';
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Table</title>
    <style>
        table {
            font-family: arial, sans-serif;
        }

        td, th {
            border: 1px solid #000000;
            text-align: left;
            padding: 8px;
        }

        /*tr:nth-child(even) {
            background-color: #000000;
        }*/
    </style>
</head>
<body>
    <br />
    <div class="w3-container">
        <div style="text-align: left; padding: 10px; font-family: Arial, sans-serif;">
            <h1 style="font-size: 2em; color: #333; letter-spacing: 1px; margin: 0;">
                Session Wise Dashboard
            </h1>
            <hr style="border: none; height: 2px; background: linear-gradient(to right, #4CAF50, #2196F3); margin: 10px 0; width: 100%;">

            <label for="sessionSelect" style="font-size: 1em; color: #555; margin-top: 10px; display: block;">
                Select Session:
            </label>

            @Html.DropDownList("SessionExpiryTime", null, "All", new { id = "SessionExpiryTime", @class = "w3-select", style = "width:30%;", onchange = "loadData(this.value)" })
            @*<select id="ExpirySession" style="padding: 8px; font-size: 1em; width: 30%; border: 1px solid #ccc; border-radius: 4px;">
                <option value="session1">Session 1</option>
                <option value="session2">Session 2</option>
                <option value="session3">Session 3</option>
                <option value="session4">Session 4</option>
            </select>*@

           

        </div>

        <div id="dashboardData"></div>

        <!--<table border="1" class="table table-light" style="border:solid;">
            <!--header-->
            <!--<tr> <td colspan="14" bgcolor="#4474c3" style="text-align:center; color:#f9f8f8;"><h5>(selected settlement period or range to be displayed)</h5></td></tr>
            <tr>

                <td colspan="2" bgcolor="#4474c3" align="center" style="color: #f9f8f8;">Inward Date:<br> DD/MM/YYYY</td>
                <td colspan="2" bgcolor="#bcd4eb" align="center" style="text-align:center;">Total Cheques Received</td>
                <td colspan="2" bgcolor="#a9d08e" align="center" style="text-align:center;">Response Submitted</td>
                <td colspan="3" bgcolor="white" align="center" style="text-align:center;">CBS Posting</td>
                <td colspan="10" bgcolor="#f8cbad" align="center" style="text-align:center;">Pending for Verification</td>
            </tr>
            <tr>
                <td bgcolor="#4474c3" align="center" style="color: #f9f8f8; font-weight:bolder;">Settlement Period</td>
                <td bgcolor="#bcd4eb" align="center" style="color: black;">Total Cheques Received</td>
                <td bgcolor="#f8cbad" align="center">Pending for Submission</td>
                <td bgcolor="#a9d08e" align="center">Response Submitted</td>
                <td bgcolor="#a9d08e" align="center">Success Posted</td>
                <td bgcolor="#a9d08e" align="center">Return Posted</td>

                <td bgcolor="#ff8f75" align="center">Failed Postings</td>
                <td bgcolor="#ff8f75" align="center">Pending For Posting</td>
                <td bgcolor="a9d08e" align="center">Sucess Posted</td>

                <td bgcolor="#f8cbad" align="center">L1 Pending</td>
                <td bgcolor="#f8cbad" align="center">L2 Pending</td>
                <td bgcolor="#f8cbad" align="center">L3 Pending</td>
                <td bgcolor="#f8cbad" align="center">Locked (L1+L2+L3)</td>
                <td bgcolor="#f8cbad" align="center">Kores SQ Pending</td>
            </tr>-->
            <!--header-->
            <!--data-->
            <!--@foreach (var detail in Model)
            {
                <tr>
                    <td bgcolor="#4474c3" align="center" style="color: #f9f8f8;">@detail.ExpiryTime</td>
                    <td bgcolor="#bcd4eb" align="center" style="color: black;">@detail.TotalInstruments</td>
                    <td bgcolor="#f8cbad" align="center">@detail.PendingforNPCI</td>
                    <td bgcolor="#a9d08e" align="center">@detail.SubmittedToNPCI</td>
                    <td bgcolor="#a9d08e" align="center">@detail.SuccessPosted</td>

                    <td bgcolor="#a9d08e" align="center">@detail.ReturnPosted</td>

                    <td bgcolor="#ff8f75" align="center">@detail.FailedCBSPosted</td>
                    <td bgcolor="#ff8f75" align="center">@detail.PendingforCBSPosting</td>
                    <td bgcolor="#a9d08e" align="center">@detail.SucessCBSPosted</td>

                    <td bgcolor="#f8cbad" align="center">@detail.PendingforL1</td>
                    <td bgcolor="#f8cbad" align="center">@detail.PendingforL2</td>
                    <td bgcolor="#f8cbad" align="center">@detail.PendingforL3</td>
                    <td bgcolor="#f8cbad" align="center">@Convert.ToInt32(detail.L1LockCount+detail.L2LockCount+detail.L3LockCount)</td>
                    <td bgcolor="#f8cbad" align="center">@detail.PendingSQ</td>
                </tr>
            }-->
            <!--data-->
            <!--@*<tr>
                <td bgcolor="#4474c3" align="center" style="color: #f9f8f8;">Expiry 03:00PM</td>
                <td bgcolor="#bcd4eb" align="center" style="color: black;">1000</td>
                <td bgcolor="#f8cbad" align="center">300</td>
                <td bgcolor="#a9d08e" align="center">700</td>
                <td bgcolor="#a9d08e" align="center">550</td>
                <td bgcolor="#a9d08e" align="center">150</td>
                <td bgcolor="#f8cbad" align="center">50</td>
                <td bgcolor="#f8cbad" align="center">100</td>
                <td bgcolor="#f8cbad" align="center">50</td>
                <td bgcolor="#f8cbad" align="center">50</td>
                <td bgcolor="#f8cbad" align="center">150</td>
                <td bgcolor="#f8cbad" align="center">50</td>
                <td bgcolor="#f8cbad" align="center">50</td>

            </tr>*@-->
            <!--data-->
        <!--</table>-->
    </div>



  
</body>
</html>

<script>

    $(document).ready(function () {

       
        loadData("");

    });



    function loadData(input) {
        debugger;
        var selectedValue = document.getElementById('SessionExpiryTime').value;
       
        $.ajax({

            url: RootUrl + "IWDashboardNew/GetSessionDashBoardData",
           
            data: { SelectedValue: selectedValue },
            dataType: "html",
            async: false,
            success: function (data) {

                $('#dashboardData').html(data);
            }

        });


    }


</script>

