
@using System;
@model IEnumerable<ikloud_Aflatoon.OutwardOrganizationDashBoard>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style type="text/css">
    tr:nth-of-type(2n)
    {
    background-color:azure
    }
    tr:nth-of-type(2n-1)
    {
        background-color:white
    }​
</style>*@

@using (Html.BeginForm("Index", "OutwardOrganizationDashboard", FormMethod.Post, new { id="refresh"}))
{

<br />
<button type="submit" id="btnRefresh" name="refresh" value="btnrefresh">Refresh</button>
<br />
    
if (Model != null)
{
    {
        int i = 0;
        foreach (var item in Model)
        {
            if (i == 0)
            {
    <div class="w3-panel w3-center w3-dark-grey">
        <h2 ><b> @item.OrganizationName</b></h2>
    </div>
    
                       
                i++;
            }
        }
    }
    
    <br />
    
    
    <div class="w3-row" hidden>
        <div class="w3-responsive w3-col s6 w3-border-right">
            <table class="w3-table w3-card-4">
                <tr class="w3-light-grey w3-large">
                    <th colspan="3">
                        Total Slip And Chq Details
                    </th>
                </tr>
                <tr>
                    <th>
                        Customer Name
                    </th>
                    <th>
                        Total Slips
                    </th>
                    <th>
                        Total Chqs
                    </th>

                </tr>
                @foreach (var item in Model)
                {
                    if (item.TotalSlips > 0 || item.TotalChqs > 0)
                    {
                        <tr>
                            <td>
                                @item.CustomerName
                            </td>
                            <td>
                                @*String.Format("{0:ddd, MMM d, yyyy}", @item.ProcessDate);*@
                                @item.TotalSlips
                            </td>
                            <td>
                                @item.TotalChqs
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="w3-responsive w3-col s6 w3-border-right">
            <table class="w3-table w3-card-4">
                <tr class="w3-light-grey w3-large">
                    <th colspan="4">Slip Amount Data Entry
                        
                    </th>
                </tr>
                <tr>
                    <th>Customer Name
                    </th>
                    <th>Total
                    </th>
                    <th>Pending
                    </th>
                    <th>Completed
                    </th>

                </tr>
                @foreach (var item in Model)
                {
                    if(item.SlipAmtTotal>0)
                    {
                    <tr>
                        <td>
                            @item.CustomerName
                        </td>
                        <td>
                            @*String.Format("{0:ddd, MMM d, yyyy}", @item.ProcessDate);*@
                            @item.SlipAmtTotal
                        </td>
                        <td>
                            @item.SlipAmtPending
                        </td>
                        <td>
                            @item.SlipAmtComplete
                        </td>

                    </tr>
                    }
                }
            </table>
        </div>

        
        <div class="w3-responsive w3-col s6 w3-border-right">

            <table class="w3-table w3-card-4">
                <tr class="w3-light-grey w3-large">
                    <th colspan="5">Slip Account Data Entry
                    </th>
                </tr>
                <tr>
                    <th>Customer Name
                    </th>
                    <th>Total
                    </th>
                    <th>D1 Pending
                    </th>
                    <th>D2 Pending
                    </th>
                    <th>Completed
                    </th>


                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CustomerName
                        </td>
                        <td>
                            @item.SlipAccountTotal
                        </td>
                        <td>
                            @item.SlipAccountD1Pending
                        </td>
                        <td>
                            @item.SlipAccountD2Pending
                        </td>
                        <td>
                            @item.SlipAccountComplete
                        </td>

                    </tr>
                }
            </table>

        </div>
    </div>
   
            
    <br />    
    
    
    <div class="w3-row" hidden>

        <div class="w3-responsive w3-col s6 w3-border-right">

            <table class="w3-table w3-card-4">
                <tr class="w3-light-grey w3-large">
                    <th colspan="5">Cheque Amount Data Entry
                    </th>
                </tr>
                <tr>
                    <th>Customer Name
                    </th>
                    <th>Total
                    </th>
                    <th>D1 Pending
                    </th>
                    <th>D2 Pending
                    </th>
                    <th>Completed
                    </th>


                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CustomerName
                        </td>
                        <td>
                            @*String.Format("{0:ddd, MMM d, yyyy}", @item.ProcessDate);*@
                            @item.ChequeAmtTotal
                        </td>
                        <td>
                            @item.ChequeAmtD1Pending
                        </td>
                        <td>
                            @item.ChequeAmtD2Pending
                        </td>
                        <td>
                            @item.ChequeAmtComplete
                        </td>

                    </tr>
                }
            </table>

        </div>
        <div class="w3-responsive w3-col s6 w3-border-right">

            <table class="w3-table w3-card-4">
                <tr class="w3-light-grey w3-large">
                    <th colspan="5">Cheque Date Data Entry
                    </th>
                </tr>
                <tr>
                    <th>Customer Name
                    </th>
                    <th>Total
                    </th>
                    <th>D1 Pending
                    </th>
                    <th>D2 Pending
                    </th>
                    <th>Completed
                    </th>

                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CustomerName
                        </td>
                        <td>
                            @*String.Format("{0:ddd, MMM d, yyyy}", @item.ProcessDate);*@
                            @item.ChequeDateTotal
                        </td>
                        <td>
                            @item.ChequeDateD1Pending
                        </td>
                        <td>
                            @item.ChequeDateD2Pending
                        </td>
                        <td>
                            @item.ChequeDateComplete
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>
    
    <br />
    
    <div class="w3-responsive w3-border-top">
        <table class="w3-table w3-card-4">
            <tr class="w3-light-grey w3-large">
                <th colspan="8">L1 Verification
                </th>
            </tr>
            <tr>
               @* <th>Customer Name
                </th>*@
                <th>Total Slips
                </th>
                <th>Pending Slips
                </th>
                <th>Accepted Slips
                </th>
                <th>Rejected Slips
                </th>
                <th>Total Cheques
                </th>
                <th>Pending Cheques
                </th>
                <th>Accepted Cheques
                </th>
                <th>Rejected Cheques
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                        @item.CustomerName
                    </td>*@
                    <td>
                        @item.L1VerificationTotalSlips
                    </td>
                    <td>
                        @*String.Format("{0:ddd, MMM d, yyyy}", @item.ProcessDate);*@
                        @item.L1VerificationSlipPending
                    </td>
                    <td>
                        @item.L1VerificationSlipAccepted
                    </td>
                    <td>
                        @item.L1VerificationSlipRejected
                    </td>
                    <td>
                        @item.L1VerificationTotalCheques
                    </td>
                    <td>
                        @item.L1VerificationChequePending
                    </td>
                    <td>
                        @item.L1VerificationChequeAccepted
                    </td>
                    <td>
                        @item.L1VerificationChequeRejected
                    </td>
                </tr>
            }
        </table>
    </div>
    
    <br />
    
    <div class="w3-responsive w3-border-top">

        <table class="w3-table w3-card-4">
            <tr class="w3-light-grey w3-large">
                <th colspan="11">L2 Verification
                </th>
            </tr>
            <tr>
                <th>Customer Name
                </th>
                <th>Total Slips
                </th>
                <th>Pending Slips
                </th>
                <th>Accepted Slips
                </th>
                @*<th>Hold Slips
                </th>*@
                <th>Rejected Slips
                </th>
                <th>Total Cheques
                </th>
                <th>Pending Cheques
                </th>
                <th>Accepted Cheques
                </th>
                @*<th>Hold Cheques
                </th>*@
                <th>Rejected Cheques
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.CustomerName
                    </td>
                    <td>
                        @item.L2VerificationTotalSlips
                    </td>
                    <td>
                        @*String.Format("{0:ddd, MMM d, yyyy}", @item.ProcessDate);*@
                        @item.L2VerificationSlipPending
                    </td>
                    <td>
                        @item.L2VerificationSlipAccepted
                    </td>
                    @*<td>
                        @item.L2VerificationSlipHold
                    </td>*@
                    <td>
                        @*String.Format("{0:ddd, MMM d, yyyy}", @item.ProcessDate);*@
                        @item.L2VerificationSlipRejected
                    </td>
                    <td>
                        @item.L2VerificationTotalCheques
                    </td>
                    <td>
                        @*String.Format("{0:ddd, MMM d, yyyy}", @item.ProcessDate);*@
                        @item.L2VerificationChequePending
                    </td>
                    <td>
                        @item.L2VerificationChequeAccepted
                    </td>
                    @*<td>
                        @item.L2VerificationChequeHold
                    </td>*@
                    <td>
                        @item.L2VerificationChequeRejected
                    </td>
                    
                </tr>
            }
        </table>

    </div>
    
    <br />
    
    <div class="w3-responsive w3-border-top">

        <table class="w3-table w3-card-4">
            <tr class="w3-light-grey w3-large">
                <th colspan="11">L3 Verification
                </th>
            </tr>
            <tr>
                <th>Customer Name
                </th>
                <th>Total Slips
                </th>
                <th>Pending Slips
                </th>
                <th>Accepted Slips
                </th>
                @*<th>Hold Slips
                </th>*@
                <th>Rejected Slips
                </th>
                 <th>Total Cheques
                </th>
                <th>Pending Slips
                </th>
                <th>Accepted Cheques
                </th>
                @*<th>Hold Cheques
                </th>*@
                <th>Rejected Cheques
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.CustomerName
                    </td>
                    <td>
                        @item.L3VerificationTotalSlips
                    </td>
                    <td>
                        @*String.Format("{0:ddd, MMM d, yyyy}", @item.ProcessDate);*@
                        @item.L3VerificationSlipPending
                    </td>
                    <td>
                        @item.L3VerificationSlipAccepted
                    </td>
                    @*<td>
                        @item.L3VerificationSlipHold
                    </td>*@
                    <td>
                        @*String.Format("{0:ddd, MMM d, yyyy}", @item.ProcessDate);*@
                        @item.L3VerificationSlipRejected
                    </td>
                    <td>
                        @item.L3VerificationTotalCheques
                    </td>
                    <td>
                        @*String.Format("{0:ddd, MMM d, yyyy}", @item.ProcessDate);*@
                        @item.L3VerificationChequePending
                    </td>
                    <td>
                        @item.L3VerificationChequeAccepted
                    </td>
                    @*<td>
                        @item.L3VerificationChequeHold
                    </td>*@
                    <td>
                        @item.L3VerificationChequeRejected
                    </td>
                </tr>
            }
        </table>

    </div>
    
    <br />
    
    <div class="w3-row">
        <div class="w3-responsive w3-col s6 w3-border-right">
        <table class="w3-table w3-card-4">
            <tr class="w3-light-grey w3-large">
                <th colspan="4">Cheques Presentation Status
                </th>
            </tr>
            <tr>
                <th>Customer Name
                </th>
                <th>Pending
                </th>
                <th>Presented
                </th>
                <th>Rejected
                </th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.CustomerName
                    </td>
                    <td>
                        @*String.Format("{0:ddd, MMM d, yyyy}", @item.ProcessDate);*@
                        @item.PresentationPending
                    </td>
                    <td>
                        @item.PresentationPresented
                    </td>
                    <td>
                        @item.PresentationRejected
                    </td>
                </tr>
            }
        </table>
    </div>
   </div>
 <br />
    <br />    
}
    
}