@model IEnumerable<ikloud_Aflatoon.IWMICRTmpProcess>
@{
    ViewBag.Title = "MICR";
    ViewBag.header = "MICR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "@Url.Content("~/xhtml1-transitional.dtd")>



<script src="@Url.Content("~/Scripts/IWMICR.js")" type="text/javascript"></script>

<script type="text/javascript">

    var RootUrl = '@Url.Content("~/")';
</script>


<input type="hidden" id="nodata" value="@ViewBag.cnt" />
<input type="hidden" name="DEbySnpt" id="DEbySnpt" value="@Session["blndebysnippet"].ToString()" />
<input type="hidden" id="BankCode" value="@Session["BankCode"]" />
@*<input type="hidden" id="Pending_Count_MICR" value="@Session["Pending_Count_MICR"]" />*@

@if (ViewBag.cnt == false)
{
    <script type="text/javascript">
        alert('No Data Found!!');
    </script>
}
else
{
    <body class="w3-container w3-center">
        @*<div class="w3-modal-content w3-card-4 w3-center" id="AcSnipimg">
            <img id="myimg" class="w3-card-8 w3-image" style="cursor:pointer" src="~/Icons/noimagefound.jpg" />
        </div>

        <div id="AcFullimg" class="w3-modal-content w3-card-4 w3-center">
            <img id="myfulimg" class="w3-card-8 w3-image" style="cursor:pointer" src="~/Icons/noimagefound.jpg" />
        </div>*@

        <img id="myimg" class="w3-card-8 w3-image" style="cursor: zoom-in" onclick="fullImage();" src="~/Icons/noimagefound.jpg" />

        <div id="divtiff" class="m7">
        </div>

        <div id="iwimg" class="w3-modal w3-animate-zoom" onclick="this.style.display='none'">
            <img id="myfulimg" class="w3-modal-content w3-card-8 w3-image" style="width: 90%; cursor: zoom-out" src="~/Icons/noimagefound.jpg" />>
        </div>

        <div class="w3-row w3-center">
            <div class="w3-col m12">
                <label class="w3-btn" onclick="ChangeImage('FTiff');">Front Tiff</label>
                <label class="w3-btn" onclick="ChangeImage('FGray');">Front Gray</label>
                <label class="w3-btn" onclick="ChangeImage('BTiff');">Back Tiff</label>
                <label class="w3-btn" onclick="callrotate();">Rotate Image</label>
                @*<label class="w3-btn" onclick="fullImage();">Zoom Image</label>*@
            </div>
        </div>
        <div id="iwimg" class="w3-modal w3-animate-zoom ">
            <div class="w3-modal-content">
                <header class="w3-container w3-theme-dark">
                    <span onclick="document.getElementById('iwimg').style.display = 'none'" class="w3-closebtn">&times;</span>
                    <h2>Full Image</h2>
                </header>
                <div class="w3-container">
                    <img id="modelmyfulimg" class="w3-modal-content w3-card-8 w3-image" style="width:90%;cursor:zoom-out" src="~/Icons/noimagefound.jpg" />
                </div>
                <footer class="w3-container w3-theme-dark"></footer>
            </div>
        </div>

        <div>
            <br />
        </div>

        <form class="w3-form">

            <div>
                <!--ng-app="" style="padding-left:30%"-->
                @*<p>Your value: {{ChqnoQC|number:2}}</p>*@
                <span class="2">Cheque No:</span>
                <input type="text" id="ChqnoQC" name="ChqnoQC" ng-model="ChqnoQC" maxlength="6" style="font-weight: bold;font-size:x-large;width:120px;letter-spacing:2px" />
                <span class="2">SortCode:</span>
                <input type="text" id="SortQC" name="SortQC" maxlength="9" style="font-weight: bold;font-size:x-large;width:175px;letter-spacing:2px" />
                <span class="2">SAN No:</span>
                <input type="text" id="SANQC" name="SANQC" maxlength="6" style="font-weight: bold;font-size:x-large;width:140px;letter-spacing:2px" />
                <span class="2">Trans Code:</span>
                <input type="text" id="TransQC" name="TransQC" maxlength="2" style="font-weight: bold;font-size:x-large;width:73px;letter-spacing:2px" />
                <span class="2">Count:</span>
                <button type="button" id="btnShowCount">Show Count</button>
                <div id="countDiv" style="display:none;">
                    <span class="2">Total Count: </span>
                    <label type="text" id="Total_Count" style="font-weight: bold;font-size:x-large;width:150px;letter-spacing:2px">2222222222</label>
                    <span class="2">MICR Pending Count: </span>
                    <label type="text" id="MICR_PendingCount" style="font-weight: bold;font-size:x-large;width:150px;letter-spacing:2px">2222222222</label>
                    <span class="2">ICR Pending Count: </span>
                    <label type="text" id="ICR_PendingCount" style="font-weight: bold;font-size:x-large;width:150px;letter-spacing:2px">2222222222</label>
                </div>
                
            </div>
            @*<div style="padding-left:30%">*@
            <input type="hidden" id="cnt" value="1" />
            <input type="hidden" id="tempcnt" value="1" />
            @*</div>*@
            <div>
                <br />
            </div>
            <!--style="padding-left:30%"-->
            <div>

                <input class="w3-btn" type="button" name="btnok" id="btnok" value="Accept" />
                <input class="w3-btn" type="button" id="btnback" value="Back" />
                <input class="w3-btn" type="button" name="bbtnClose" id="bbtnClose" value="Close" />
            </div>
        </form>

    </body>
    <script language="javascript" type="text/javascript">

        var array = @Html.Raw(

                 Json.Encode(
                     (Model).Select(m=> new
                     {
                         ID = m.ID,
                         FrontGreyImagePath = m.FrontGreyImagePath,
                         XMLSerialNo = m.XMLSerialNo,
                         SerialNoOCR1 = m.SerialNoOCR1,
                         SerialNoOCR2 = m.SerialNoOCR2,
                         XMLPayorBankRoutNo = m.XMLPayorBankRoutNo,
                         PayorBankRoutNoOCR1 = m.PayorBankRoutNoOCR1,
                         PayorBankRoutNoOCR2=m.PayorBankRoutNoOCR2,
                         XMLSAN = m.XMLSAN,
                         SANOCR1 = m.SANOCR1,
                         SANOCR2 = m.SANOCR2,
                         XMLTransCode = m.XMLTransCode,
                         TransCodeOCR1 = m.TransCodeOCR1,
                         TransCodeOCR2 = m.TransCodeOCR2,
                         MICRRepairFlags = m.MICRRepairFlags,
                         FrontTiffImagePath = m.FrontTiffImagePath,
                         BackTiffImagePath = m.BackTiffImagePath,
                     })
                 )
             );
        if (document.getElementById('nodata').value != false)
        {
            //alert('ok');
            passval(array);
        }
    </script>
}
<div id="result">

</div>

<script type="text/javascript">
    function Sclose()
    {
        // alert('ok');
        document.getElementById('frmclose').submit();
    }
</script>
