@model ikloud_Aflatoon.applicationSettingsView

@{
    ViewBag.Title = "Create Settings";
    ViewBag.header = "Create Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ApplicationSetting</legend>

        <div class="editor-label">
            @Html.Label("Customer")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x=>x.CustomerId,Model.CustomerLst)
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>

        <div class="editor-label">
            @Html.Label("Setting Name")
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.SettingName)*@
            @Html.DropDownListFor(x=>x.SettingNameId,Model.SettingNameLst)
            @Html.ValidationMessageFor(model => model.SettingNameId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SettingLevel)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(x=>x.SettingLevelId,Model.SettingLevelLst)
            @Html.ValidationMessageFor(model => model.SettingLevelId)
        </div>

        <div class="editor-label">
            @Html.Label("Setting Value")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SettingValue)
            @Html.ValidationMessageFor(model => model.SettingValue)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedOn)
            @Html.ValidationMessageFor(model => model.CreatedOn)
        </div>*@

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    
}
