@model ikloud_Aflatoon.applicationSettingsView

@{
    ViewBag.Title = "Details Settings";
    ViewBag.header = "Details Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>ApplicationSetting</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SettingName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SettingName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SettingLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SettingLevel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SettingValue)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SettingValue)
    </div>
    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
