@model IEnumerable<ikloud_Aflatoon.Infrastructure.IWTempL1VerificationModel>
@{
    ViewBag.Title = "L1 Verification";
    ViewBag.header = "L1 " + Session["VFTYPE"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "@Url.Content("~/xhtml1-transitional.dtd")>
<script src="~/Scripts/Json2.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/jQueryRotate.js"></script>
<script src="~/Scripts/IWL1.js"></script>
<script type="text/javascript">

    var RootUrl = '@Url.Content("~/")';
</script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<input type="hidden" name="acmin" id="acmin" value="@Session["acfrm"]" />
<input type="hidden" id="nodata" value="@ViewBag.cnt" />
<input type="hidden" id="cnt" value="1" />
<input type="hidden" id="tempcnt" value="1" />
<input type="hidden" name="blockkey" id="blockkey" value="0" />
<input type="hidden" id="stlmnt" value="@Session["PostDate"]" />
<input type="hidden" id="sesson" value="@Session["StaleDate"]" />
<input type="hidden" id="oldact" />
<input type="hidden" name="positivepay" id="positivepay" value="@Session["PositiveAmtThresld"]">
<input type="hidden" name="positivepayActive" id="positivepayActive" value="@Session["PositivePay"]" />

<div class="w3-hide">
    @Html.DropDownList("rtnlist", new SelectList(ViewBag.rtnlist), "Select")
    @Html.DropDownList("rtnlistDescrp", new SelectList(ViewBag.rtnlistDescrp), "Select")
</div>
@if (ViewBag.cnt == false)
{
    <script type="text/javascript">
        alert('No Data Found!!');
    </script>
}
else
{
    @Html.AntiForgeryToken()
    <form class="w3-form">
        <div class="w3-row">
            <!--Column 1-->
            <div class="w3-col w3-third w3-grey w3-padding w3-large">
                <label class="w3-label w3-padding w3-text-dark-grey" style="float: initial">Account Number </label>
                <div class="w3-container" style="float: initial">
                    <input class="w3-input w3-border w3-border-blue w3-padding" style="width: auto; float: left;font-weight:700" type="text" id="accnt" name="accnt" maxlength="@Session["acto"]" />
                    <input class="w3-btn w3-margin-left" type="button" value="GetDetails" id="getdtls" name="getdtls" onclick="getcbsdtls();" />
                </div>
            </div>
            <!--Column 2-->
            <div class="w3-col m8  w3-xlarge ">
                <div class="w3-container w3-left">
                    <label class="w3-label w3-text-dark-grey">Amount: Rs.</label>
                    <input class="w3-input w3-border w3-border-blue " type="text" style="width: 150px;font-weight:700" id="iwAmt" />
                </div>
                <div class="w3-container">
                    <label class="w3-label w3-text-dark-grey">Date: </label>
                    <input class="w3-input w3-border w3-border-blue " type="text" style="width: 100px;font-weight:700" id="ChqDate" name="ChqDate" maxlength="6" />
                </div>
                @*<div class="w3-container w3-highway-green">
                        <label class="w3-label w3-text-white">XML Amount: </label>
                        <label class="w3-label w3-text-white" style="font-weight:700" id="xmlamt"></label>
                    </div>*@
                <div class="w3-row">
                    <label class="w3-label w3-left  w3-text-black" style="font-size: larger">Enter Payee Name</label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" id="PayeeName" name="PayeeName" maxlength="30" style="font-weight: bold; font-size: larger" />
                    @*<span class="w3-left " style="font-weight: bold; font-size: medium;">Amount:</span>
                        <span class="w3-center w3-text-white" style="font-weight: bold; color: white; font-size: larger;" id="amtwrd"></span>*@
                </div>
            </div>
        </div>
        <div class="w3-row w3-grey">
            <div class="w3-col w3-third w3-large  w3-grey">
                <div id="cbsdetails">
                </div>
                <div class="w3-container w3-dark-grey w3-card-2 w3-margin">
                    <div class="w3-row w3-text-light-grey ">
                        AI Decision:
                        <span class="w3-label" style="font-weight:700" id="AIdecision"></span>
                    </div>
                </div>
                <div class="w3-container w3-dark-grey w3-card-2 w3-margin">
                    <div class="w3-container" style="float:left">
                        <label class="w3-label w3-text-light-grey" style="float: left">Decision: </label>
                        <input class="w3-margin-left w3-text-dark-grey" id="IWDecision" name="IWDecision" type="text" style="width: 35px; float: left;font-weight:700;text-align:center" maxlength="1" onkeyup="IWVef();" />
                    </div>
                    <div class="w3-container" id="rtncd" style="display:none">
                        <span class="w3-opennav w3-margin-left" onclick="document.getElementById('RejectReason').style.display = 'block';">&#9776;</span>
                        <label class="w3-label w3-margin-left w3-text-light-grey" style="float: left">Reason Code: </label>
                        <input class="w3-margin-left w3-text-dark-grey " type="text" style="width: 35px; float: left;font-weight:700;text-align:center" maxlength="2" id="IWRemark" name="IWRemark" />
                        <input class="w3-input w3-margin-top w3-text-dark-grey" type="text" id="rejectreasondescrpsn" style="float: initial;font-weight:700" />
                    </div>
                    <div class="w3-container" style="float:initial">
                        <input class="w3-btn w3-margin-left" type="button" value="Ok" id="ok" name="ok" />
                        <input class="w3-btn" type="button" id="btnback" value="Back" />
                        <input class="w3-btn" type="button" id="btnClose" value="Close" />
                        @*<span class="w3-opennav w3-text-black w3-large w3-hover-amber" onclick="getIwlogs();">&#9776; AL</span>*@
                    </div>
                </div>
            </div>
            <div class="w3-col m8 w3-center w3-dark-grey w3-padding">
                <img id="myimg" class="w3-card-8 w3-image" style="cursor:zoom-in" onclick="fullImage();" src="~/Icons/noimagefound.jpg" />
                <div id="iwimg" class="w3-modal w3-animate-zoom " onclick="this.style.display='none'">
                    <img id="myfulimg" class="w3-modal-content w3-card-8 w3-image" style="width:90%;cursor:zoom-out" src="~/Icons/noimagefound.jpg" />
                </div>
                <div class="w3-row w3-large w3-padding">
                    <div class="w3-col w3-center m3 ">
                        MICR:
                    </div>
                    <div class="w3-col w3-center m1 ">
                        <input class="w3-margin-left w3-text-dark-grey" type="text" maxlength="6" style="width:70px; float: initial;font-weight:700" id="ChqnoQC">
                    </div>
                    <div class="w3-col w3-center m2 ">
                        <input class="w3-margin-left w3-text-dark-grey" type="text" maxlength="9" id="SortQC" style="width:100px;float: initial;font-weight:700">
                    </div>
                    <div class="w3-col w3-center m2 ">
                        <input class="w3-margin-left w3-text-dark-grey" type="text" maxlength="6" id="SANQC" style="width:80px;float: initial;font-weight:700">
                    </div>
                    <div class="w3-col w3-center m1 ">
                        <input class="w3-margin-left w3-text-dark-grey" type="text" maxlength="2" id="TransQC" style="width:50px;float: initial;font-weight:700">
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="w3-col m8">
                        <label class="w3-btn" onclick="callrotate();">Rotate Image</label>
                        <label class="w3-btn" onclick="ChangeImage('FTiff');">Front Tiff</label>
                        <label class="w3-btn" onclick="ChangeImage('FGray');">Front Gray</label>
                        <label class="w3-btn" onclick="ChangeImage('BTiff');">Back Tiff</label>
                    </div>
                </div>
                <div class="w3-row w3-large">
                    <div class="w3-col w3-left m2 ">Positive Pay Data</div>
                    <div class="w3-col w3-center m6">
                        <label class="w3-label w3-text-black" style="font-weight:700">Payee Name:</label>
                        <span class="w3-label w3-text-white" style="font-weight:700" id="pPayee">Mohammad Abid Shaikh sjhertijnht hdnrt</span>&nbsp;&nbsp;
                        <input type="checkbox" id="chkppaye" />
                    </div>
                    <div class="w3-col w3-center m2">
                        <label class="w3-label w3-text-black" style="font-weight:700">Amount:</label>
                        <span class="w3-label w3-text-white" style="font-weight:700" id="pAmt">100000</span>
                    </div>
                    <div class="w3-col w3-center m2">
                        <label class="w3-label w3-text-black" style="font-weight:700">Date:</label>
                        <span class="w3-label w3-text-white" style="font-weight:700" id="pDate">131120</span>
                    </div>
                </div>
            </div>
        </div>


    </form>
    @*<div id="dialogEditUser" title="Reject Reason">
        </div>*@
    <div id="RejectReason" class="w3-modal w3-animate-zoom ">
        @*@Html.Action("RejectReason", "IWDataEntry");*@
        <div class="w3-modal-content">
            <div class="w3-container w3-theme-dark">
                <span onclick="document.getElementById('RejectReason').style.display = 'none';"
                      class="w3-closebtn">&times;</span>
                <h2>Select Reject Reason</h2>
            </div>
            <div class="w3-container">
                @Html.Action("RejectReason", "IWL1")
            </div>
            <div class="w3-container">&nbsp;</div>
        </div>
    </div>
    <script language="javascript" type="text/javascript">

        var array = @Html.Raw(

                 Json.Encode(
                     (Model).Select(m=> new
                     {
                         ID = m.ID,
                         FrontGreyImagePath = m.FrontGreyImagePath,
                        FrontTiffImagePath= m.FrontTiffImagePath,
                        BackTiffImagePath=m.BackTiffImagePath,
                        XMLAmount=m.XMLAmount,
                        ActualAmount=m.ActualAmount,
                        DbtAccountNo=m.DbtAccountNo,
                        Date=m.Date,
                         XMLSerialNo = m.XMLSerialNo,
                         XMLPayorBankRoutNo = m.XMLPayorBankRoutNo,
                         XMLSAN = m.XMLSAN,
                         XMLTransCode = m.XMLTransCode,
                         EntrySerialNo = m.EntrySerialNo,
                         EntryPayorBankRoutNo = m.EntryPayorBankRoutNo,
                         EntrySAN = m.EntrySAN,
                         EntryTransCode = m.EntryTransCode,
                         CBSClientAccountDtls = m.CBSClientAccountDtls,
                         CBSJointHoldersName = m.CBSJointHoldersName,
                         RejectReason = m.RejectReason,
                         EntryPayeeName ="",// m.EntryPayeeName,
                         XMLMICRRepairFlags = m.XMLMICRRepairFlags,
                         strModified = "",//m.strModified

                     })
                 )
             );
        if (document.getElementById('nodata').value != false)
        {
            //alert('ok');
            passval(array);
        }
    </script>

}
@*<div id="result">

    </div>*@

