@model IEnumerable<ikloud_Aflatoon.branchView>

@{
    ViewBag.Title = "Branch List";
    ViewBag.header = "Branch List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-container" style="margin-left:30px;">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th align="left">
                @Html.DisplayNameFor(model => model.BranchCode)
            </th>
            <th align="left">
                @Html.DisplayNameFor(model => model.BranchName)
            </th>
            <th align="left">
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            <th align="left">
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th align="left">
                @Html.DisplayNameFor(model => model.IFSCode)
            </th>
            <th align="left">
                @Html.DisplayNameFor(model => model.MICRCode)
            </th>
            <th align="left">
                @Html.DisplayNameFor(model => model.OutwardDomain)
            </th>
            <th align="left">
                @Html.DisplayNameFor(model => model.InwardDomain)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CreationDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BranchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IFSCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MICRCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutwardDomain)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InwardDomain)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

