@model ikloud_Aflatoon.Infrastructure.selectcustprocDate
@{
    ViewBag.Title = "Login Selection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "@Url.Content("~/xhtml1-transitional.dtd")>


<script src="~/Scripts/modernizr-2.8.3.js"></script>
@*<script src="~/Scripts/jquery-2.1.4.min.js"></script>*@
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/LoginSelect.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script type="text/javascript">
    var RootUrl = '@Url.Content("~/")';
</script>

@if (Model.userlogin == false)
{

    <script type="text/javascript">

        var conval = confirm("This user already logged in if you contiue previuos session will expire!!");

        if (conval == false) {
            //alert(username);
            window.location = RootUrl + "Login/Logout?user=" + '@Session["LoginID"].ToString()';
        }
        else {
            //window.location = "/Home/setSession";
            $.ajax({
                url: RootUrl + 'Home/setSession',
                dataType: 'html',
                success: function (data) {
                }
            });
        }

    </script>

}
<div class="w3-form" style="padding-top:40%">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Orgdrop)
        @Html.HiddenFor(m => m.Accesslevel)
        @Html.HiddenFor(m => m.OrgnizationLst)
        @Html.HiddenFor(m => m.userlogin)

        <input type="hidden" id="lName" name="lName" value="@Session["LoginID"].ToString()" />
        <input type="hidden" id="procdateval" name="procdateval" />
        <input type="hidden" id="domval" name="domval" />
        <input type="hidden" id="CustName" name="CustName" />
        <input type="hidden" id="clrtype" name="clrtype" value="@Session["ProType"].ToString()" />
        <input type="hidden" id="brnchid" name="brnchid" />

        <div class="w3-modal-content w3-card-8 w3-animate-zoom w3-round-xlarge w3-padding-16 w3-light-grey" style="max-width: 600px">
            <div class="w3-container">
                @*<label class="w3-text-black w3-padding-16 w3-center" style="font-weight:600;">@Session["ProType"]</label>*@
                <div id="divorg" style="display:none" class="w3-row w3-padding-16">
                    <div class="w3-col m4">
                        <label class="w3-label w3-text-black" style="font-weight:600">Select Orgnization</label>&nbsp;&nbsp;
                    </div>
                    <div class="w3-col m8">

                        @*@Html.DropDownList("Org", new SelectList(Enumerable.Empty<SelectListItem>(), "OrgnizationID", "OrgnizationName"), "Select Orgnization", new { @class = "form-control" })*@
                        @Html.DropDownList("Org", Model.OrgnizationLst, "-----Select-----")
                    </div>
                </div>
                <div id="divcust" class="w3-row w3-padding-12">
                    <div class="w3-col m4 ">
                        <label class="w3-label w3-text-black" style="font-weight:600"> Select Customer</label>
                    </div>
                    <div class="w3-col m8">
                        @if (Model.custid == 1)
                        {
                            @Html.DropDownList("CustBag", null, "-----Select-----")

                        }
                        else
                        {
                            @Html.DropDownList("CustBag", new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Name"),
                            "Select Customer",
                                 new { @class = "form-control" })
                        }

                    </div>
                </div>
                @*<div class="w3-section">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            @* @Html.DropDownList("CustBag", null, "Select")

                    </div>*@
                @*<div id="orgcust" style="display:none">*@


                <div id="divprocdate" class="w3-row w3-padding-12" style="display:none">
                    <div class="w3-col m4">
                        <label class="w3-label w3-text-black" style="font-weight:600">Select Processing Date</label>
                    </div>
                    <div class="w3-col m8">
                        <span> @Html.DropDownList("ProcDate", new SelectList(Enumerable.Empty<SelectListItem>(), "ProcessingDate", "ProcessingDate"), "-----Select-----", new { @class = "form-control" })</span>
                    </div>
                </div>
                <div id="divdomain" class="w3-row w3-padding-12" style="display:none">
                    <div class="w3-col m4">
                        <label class="w3-label w3-text-black" style="font-weight:600">Select Domain</label>
                    </div>
                    <div class="w3-col m8">
                        <span> @Html.DropDownList("Domainselect", new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Name"), "ALL", new { @class = "form-control" })</span>
                    </div>
                </div>
                @*<div id="divBrnch" class="w3-row w3-padding-12" style="display:none">
                    <div class="w3-col m4">
                        <label class="w3-label w3-text-black" style="font-weight:600">Select Branch</label>
                    </div>
                    <div class="w3-col m8">
                        <span> @Html.DropDownList("Branchselect", new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "BranchName"), "ALL", new { @class = "form-control" })</span>
                    </div>
                </div>*@
                <div id="CtsnonCTS" class="w3-row w3-padding-12">
                    <div class="w3-col m4">
                        <label class="w3-label w3-text-black" style="font-weight:600">Select Session Type</label>
                    </div>
                    <div class="w3-col m8">
                        <span>

                            @Html.DropDownList("ClearingType", null, null, new { style = "width: 150px;" })
                        </span>
                    </div>
                </div>
                <div class="w3-center w3-padding-16">
                    <input class="w3-btn" type="submit" name="cancel" id="go" value="Select" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="w3-btn" type="submit" name="cancel" id="cancel" value="Cancel" />
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">

    // debugger;
    $("#go").prop("disabled", true);

    if ($("#Accesslevel").val() == "ORG") {
        if ($("#Orgdrop").val() == 1) {
            document.getElementById('divorg').style.display = "";
        }
        var selectObj = document.getElementById('Org');
        if (selectObj.options.length == 2) {
            document.getElementById('divcust').style.display = "";
            $("select#Org")[0].selectedIndex = 1;
            $("#Org").prop("disabled", true);
        }
        else {

            document.getElementById('divcust').style.display = "none";

            $("#Org").prop("disabled", false);
        }
    }
    else {
        document.getElementById('divcust').style.display = "";
    }


</script>