@model iKloud.Models.UserMaster
@{
    ViewBag.Title = "Details";
}
<h2> Details</h2>

        <fieldset>
            <legend>UserMaster</legend>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.LoginID)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LoginID)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Password)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Password)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Title)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Title)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.FirstName)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.FirstName)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.LastName)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.LastName)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.DOB)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.DOB)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.EmailID)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.EmailID)
            </div>
        </fieldset>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

