@model IEnumerable<ikloud_Aflatoon.Infrastructure.IWTempL3VerificationModel>
@{
    ViewBag.Title = "L3 Verification";
    ViewBag.header = "L3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "@Url.Content("~/xhtml1-transitional.dtd")>

<script src="~/Scripts/Json2.js"></script>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/jQueryRotate.js"></script>
<script src="~/Scripts/IWL3.js"></script>

<script type="text/javascript">

    var RootUrl = '@Url.Content("~/")';
</script>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<input type="hidden" name="acmin" id="acmin" value="@Session["acfrm"]" />
<input type="hidden" id="nodata" value="@ViewBag.cnt" />
<input type="hidden" id="cnt" value="1" />
<input type="hidden" id="tempcnt" value="1" />
<input type="hidden" name="blockkey" id="blockkey" value="0" />
<input type="hidden" id="stlmnt" value="@Session["PostDate"]" />
<input type="hidden" id="sesson" value="@Session["StaleDate"]" />
<input type="hidden" id="postdt" value="@Convert.ToDateTime( Session["PostDate"].ToString()).ToString("yyyy-MM-dd")" />
<input type="hidden" id="staledt" value="@Convert.ToDateTime( Session["StaleDate"].ToString()).ToString("yyyy-MM-dd")" />
<input type="hidden" id="oldact" />

<div class="w3-hide">
    @Html.DropDownList("rtnlist", new SelectList(ViewBag.rtnlist), "Select")
    @Html.DropDownList("rtnlistDescrp", new SelectList(ViewBag.rtnlistDescrp), "Select")

    @Html.DropDownList("rtnlistex", new SelectList(ViewBag.rtnlistex), "Select")
    @Html.DropDownList("rtnlistDescrpex", new SelectList(ViewBag.rtnlistDescrpex), "Select")
</div>





@if (ViewBag.cnt == false)
{
    <script type="text/javascript">alert('No Data Found!!');</script>
}
else
{
<form class="w3-form">

    <!--new design-->
    <div class="w3-row w3-gray">
        <div class="w3-col m3 w3-gray">

            <label class="w3-label w3-padding w3-text-dark-grey" style="float: left">Account Number </label>
            <input class="w3-input w3-border w3-border-blue w3-padding" style="width: auto; font-weight:700" type="text" id="accnt" name="accnt" value="" />
        </div>
        <div class="w3-col m3 w3-gray">
            <label class="w3-label w3-padding w3-text-dark-grey" style="float: left">Account Name </label>

            <select class="w3-input w3-border w3-border-blue w3-padding" style="width: 200px; font-weight:700" id="jointAccNameDropdown">
                <option>TestName1</option>
                <option>TestName2</option>
            </select>

        </div>
        <div class="w3-col m3 w3-padding-left">
            <label class="w3-label w3-text-white">L1 Staff : </label>
            <label class="w3-label w3-text-white" id="L1Byid">abcd</label>
            <br />
            <label class="w3-label w3-text-white">L1 Decision : </label>
            <label class="w3-label w3-text-white" id="L1Statusid">abcd</label>
			  <label class="w3-label w3-text-white" id="L1rejectOrException" style="display:none;">abcd </label>

        </div>
       
    </div>
    <div class="w3-row w3-padding-bottom w3-gray">
        <div class="w3-col m6 w3-gray w3-padding-bottom">
            <label class="w3-label w3-padding w3-text-dark-grey" style="float: left">Payee Name:&nbsp; &nbsp; &nbsp; &nbsp;   </label>
            <input class="w3-input w3-border w3-border-blue w3-padding" style="width: 555px; font-weight:700;" type="text" id="ChPayeeName" name="ChPayeeName" value="" />


            <div class="w3-container  w3-highway-green w3-margin-top " hidden>
                <label class="w3-label w3-text-white">XML Amount: </label>
                <label class="w3-label w3-text-white" style="font-weight:700" id="xmlamt"></label>

                <label class="w3-label w3-text-white" style="padding-left:150px;">XML PayeeName: </label>
                <label class="w3-label w3-text-white" style="font-weight:300" id="XmlPayeeName">TestName</label>
            </div>
        </div>


        <div class="w3-row">
            <div class="w3-col m3 w3-padding-left">
               
                <label class="w3-label w3-text-white">L2 Staff : </label>
                <label class="w3-label w3-text-white" id="L2Byid">abcd</label>
                 <br />
                <label class="w3-label w3-text-white">L2 Decision : </label>
                <label class="w3-label w3-text-white" id="L2Statusid">abcd</label>
				  <label class="w3-label w3-text-white" id="L2rejectOrException" style="display:none;">abcd </label>
            </div>
        </div>
           


    </div>



    <div class="w3-row">

        <div class="w3-col m6 w3-left w3-dark-gray w3-margin-bottom" style="padding-top:10px;">
            <img id="myimg" class="w3-card-8 w3-image w3-gray" style="cursor:zoom-in;" onclick="fullImage();" src="~/Icons/noimagefound.jpg" />

            <div id="tiffimg"></div>

            <div class="w3-center">
                <div id="iwimg" class="w3-modal w3-animate-zoom " onclick="this.style.display='none'">
                    <img id="myfulimg" class="w3-modal-content w3-card-8 w3-image" style="width:90%;cursor:zoom-out" src="~/Icons/noimagefound.jpg" />
                </div>
            </div>


            <!--test-->
            <br />
            <div class="w3-col w3-large w3-padding ">


                <div class="w3-col m10 w3-margin-top" style="padding-left:100px;">

                    MICR:
                    <input class="w3-margin-left w3-text-dark-grey w3-large" type="text" maxlength="6" style="width:70px; float: initial;font-weight:700" id="ChqnoQC">
                    <input class="w3-margin-left w3-text-dark-grey w3-large" type="text" maxlength="9" id="SortQC" style="width:100px;float: initial;font-weight:700">
                    <input class="w3-margin-left w3-text-dark-grey w3-large" type="text" maxlength="6" id="SANQC" style="width:70px;float: initial;font-weight:700">
                    <input class="w3-margin-left w3-text-dark-grey w3-large" type="text" maxlength="2" id="TransQC" style="width:50px;float: initial;font-weight:700">

                </div>

            </div>
            <div class="w3-row  w3-large w3-padding">
                <div class="w3-col m10" style="padding-left:100px;">

                    <label class="w3-btn" onclick="callrotate();">Rotate Image</label>
                    <label class="w3-btn" onclick="ChangeImage('FTiff');">Front Tiff</label>
                    <label class="w3-btn" onclick="ChangeImage('FGray');">Front Gray</label>
                    <label class="w3-btn" onclick="ChangeImage('BTiff');">Back Tiff</label>
                </div>

            </div>
            <div class="w3-row">
                <div class="w3-col-m6 w3-margin-top w3-margin-bottom">
                    <div class="w3-col m1">
                        @*<label class="w3-label w3-text-dark-grey w3-margin-left" style="float: right; padding-left:15px;color:white;">Operating Instruction:</label>*@
                        <b style="padding-left:20px;">Operating Instructions:</b>
                    </div>
                    <div class="w3-col m5">
                        <input class="w3-input w3-border w3-border-blue " style="width:555px; font-weight:700; margin-left:40px;" type="text" id="operatingInstruction" name="operatingInstruction" value="" />
                    </div>

                    <br />
                    <br />
                    <br />
                </div>

            </div>
            <!--test-->



        </div>
        <div class="w3-col m3 w3-center w3-dark-gray">
            <div class="w3-center w3-margin-top w3-margin-left">
                <label class="w3-label w3-margin-left" style="float: left; color:white;">Date:&nbsp;&nbsp; </label>
                <input class="w3-input w3-border w3-border-blue" type="text" style="width: 50%; font-weight:700" id="ChqDate" name="ChqDate" maxlength="6" />

            </div>
            <div class="w3-center w3-margin-top w3-margin-left">
                <label class="w3-label " style="float: left; color:white;">Amount:&nbsp; </label>
                <input class="w3-input w3-border w3-border-blue" type="text" style="width: 50%; font-weight:700" id="iwAmt" name="iwAmt" />


            </div>



            <div class="w3-center w3-margin-top w3-margin-left">
                <div class="w3-row">
                    <div style="height: 320px; overflow-y: auto;">

                        <div id="cbsdetails">

                        </div>
                    </div>

                </div>


            </div>

            <div class="w3-center  w3-gray w3-margin-left">
                <div class="w3-row">

                    <div class="w3-container  w3-card-2" style="padding:10px;">
                        <div class="w3-container" style="float:left">
                            <label class="w3-label w3-text-light-grey" style="float: left">Decision: </label>
                            <input class="w3-margin-left w3-text-dark-grey" id="IWDecision" name="IWDecision" type="text" style="width: 35px; float: left;font-weight:700;text-align:center" maxlength="1" onkeyup="IWVef();" />
                        </div>
                        <div class="w3-container" id="rtncd" style="display:none">

                            <label class="w3-label w3-text-light-grey" style="float: left">Reason Code: </label>

                            <input class="w3-margin-left w3-text-dark-grey " type="text" style="width: 35px; float: left;font-weight:700;text-align:center" maxlength="2" id="IWRemark" name="IWRemark" />
                            <span class="w3-opennav w3-margin-left" onclick="document.getElementById('RejectReason').style.display = 'block';">&#9776;</span>
                            <input class="w3-input w3-margin-top w3-text-dark-grey" type="text" id="rejectreasondescrpsn" style="float: initial;font-weight:700" />
                        </div>

                        <div class="w3-container" id="rtncdex" style="display:none">
                            <span class="w3-opennav w3-margin-left" onclick="document.getElementById('RejectReasonforExtension').style.display = 'block';">&#9776;</span>
                            <label class="w3-label w3-text-light-grey" style="float: left">Reason Code: </label>
                            <input class="w3-margin-left w3-text-dark-grey " type="text" style="width: 35px; float: left;font-weight:700;text-align:center" maxlength="2" id="IWRemarkex" name="IWRemarkex" />
                            <input class="w3-input w3-margin-top w3-text-dark-grey" type="text" id="rejectreasondescrpsnex" style="float: initial;font-weight:700" />
                        </div>

                        <div class="w3-container" style="float:initial">
                            <input class="w3-btn w3-margin-left" type="button" value="Ok" id="ok" name="ok" />
                            <input class="w3-btn" type="button" id="btnback" value="Back" style="display:none;" />
                            <input class="w3-btn" type="button" id="btnClose" value="Close" />
                            @*<span class="w3-opennav w3-text-black w3-large w3-hover-amber" onclick="getIwlogs();">&#9776; AL</span>*@
                        </div>
                    </div>
                </div>


            </div>
            <div class="w3-center w3-dark-gray w3-margin-top w3-margin-bottom"><br /><br /></div>


        </div>


        <div class="w3-col m3 w3-right w3-dark-gray">
            <div class="w3-row">
                <div style="height: 570px; overflow-y: auto;">
                    <table class="w3-table" style="border-collapse: collapse;">
                        <thead style="position: sticky; top: 0; background-color: #48aef3; z-index: 1;">
                            <tr>
                                <th>Signature</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                <div id="signatureContainer"></div>
                                @* <img id="signatureImage" src="" alt="Signature Image" style="width: 300px; height: 300px; cursor: zoom-in;" onclick="fullImageSign();" />*@

                            </td>

                        </tr>


                    </table>
                </div>

            </div>
        </div>




    </div>







    <br />










    @*<tr><td><h2 style="color:red"> {{iwAmt|number:2}} </h2></td></tr>*@
    @*<div class="right" ng-app="">

        </div>*@
</form>
    @*<div id="dialogEditUser" title="Reject Reason">
        </div>*@
    <div id="RejectReason" class="w3-modal w3-animate-zoom ">
        @*@Html.Action("RejectReason", "IWDataEntry");*@
        <div class="w3-modal-content">
            <div class="w3-container w3-theme-dark">
                <span onclick="document.getElementById('RejectReason').style.display = 'none';"
                      class="w3-closebtn">&times;</span>
                <h2>Select Reject Reason</h2>
            </div>
            <div class="w3-container">

                @Html.Action("RejectReason", "IWL1")
            </div>
            <div class="w3-container">&nbsp;</div>
        </div>
    </div>
    <div id="RejectReasonforExtension" class="w3-modal w3-animate-zoom ">
        @*@Html.Action("RejectReason", "IWDataEntry");*@
        <div class="w3-modal-content">
            <div class="w3-container w3-theme-dark">
                <span onclick="document.getElementById('RejectReasonforExtension').style.display = 'none';"
                      class="w3-closebtn">&times;</span>
                <h2>Exception Reject Reason</h2>
            </div>
            <div class="w3-container">

                @Html.Action("ExtensionRejectReason", "IWL1")
            </div>
            <div class="w3-container">&nbsp;</div>
        </div>
    </div>



    <script language="javascript" type="text/javascript">

        var array = @Html.Raw(

                 Json.Encode(
                     (Model).Select(m=> new
                     {
                         ID = m.ID,
                         FrontGreyImagePath = m.FrontGreyImagePath,
                         FrontTiffImagePath= m.FrontTiffImagePath,
                         BackTiffImagePath=m.BackTiffImagePath,
                         XMLAmount=m.XMLAmount,
                         ActualAmount=m.ActualAmount,
                         DbtAccountNo=m.DbtAccountNo,
                         Date=m.Date,
                         XMLSerialNo = m.XMLSerialNo,
                         XMLPayorBankRoutNo = m.XMLPayorBankRoutNo,
                         XMLSAN = m.XMLSAN,
                         XMLTransCode = m.XMLTransCode,
                         EntrySerialNo = m.EntrySerialNo,
                         EntryPayorBankRoutNo = m.EntryPayorBankRoutNo,
                         EntrySAN = m.EntrySAN,
                         EntryTransCode = m.EntryTransCode,
                         CBSClientAccountDtls = m.CBSClientAccountDtls,
                         CBSJointHoldersName = m.CBSJointHoldersName,
                         RejectReason = m.RejectReason,
                         XMLPayeeName=m.XMLPayeeName,
                         RejectReasonDescription = m.RejectDescription,
                         ExRejectReason = m.ExRejectReason,
                         ExRejectDescription = m.ExRejectDescription

                     })
                 )
             );
        if (document.getElementById('nodata').value != false)
        {
            //alert('ok');
            passval(array);
        }
    </script>

}

@*<div id="result">

    </div>*@



