@model ikloud_Aflatoon.OrganizationMaster

@{
    ViewBag.Title = "Details Organization";
    ViewBag.header = "Details Organization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>OrganizationMaster</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreationDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
