@model ikloud_Aflatoon.CustomerMaster

@{
    ViewBag.Title = "Delete Customer";
    ViewBag.header = "Delete Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CustomerMaster</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PresentingBankRouteNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PresentingBankRouteNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GridId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GridId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrganizationId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrganizationId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreationDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
