@model IEnumerable<ikloud_Aflatoon.ActivityLog>
<h2>
    Activity Log
</h2>
@{
    int cnt = 0;
}

<div id="activitylogs">
    <table>
        <tr style="text-align: left">
            <th>
                Log Level
            </th>
            <th>
                Action
            </th>
            <th>
                Login ID
            </th>
            <th>
                Reject Desc
            </th>
            @*<th>
                    Comments
                </th>*@
            <th>
                Time Stamp
            </th>
        </tr>
        @foreach (var itm in Model)
        {
            if (cnt == 0 && itm.LogLevel == "L2 VERIFICATION" && (itm.ActionTaken.ToUpper() == "A" || itm.ActionTaken.ToUpper() == "R"))
            {
                <tr style="text-align:center">

                    <td style="text-align:left">
                        @Html.DisplayFor(a => itm.LogLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(a => itm.ActionTaken)
                    </td>
                    <td>
                        @Html.DisplayFor(a => itm.LoginId)
                    </td>
                    <td>
                        @Html.DisplayFor(a => itm.RejectDesc)
                    </td>
                    @*<td>
                            @Html.DisplayFor(a => itm.Comments)
                        </td>*@
                    <td>
                        @Html.DisplayFor(a => itm.TimeStamp)
                    </td>
                </tr>
            }
            else if (cnt == 0 && itm.LogLevel == "L2 VERIFICATION" && itm.ActionTaken.ToUpper() == "C")
            {
                <tr style="text-align:center">

                    <td style="text-align:left">
                        @Html.DisplayFor(a => itm.LogLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(a => itm.ActionTaken)
                    </td>
                    <td>
                        @Html.DisplayFor(a => itm.LoginId)
                    </td>
                    <td>
                        @Html.DisplayFor(a => itm.RejectDesc)
                    </td>
                    @*<td>
                            @Html.DisplayFor(a => itm.Comments)
                        </td>*@
                    <td>
                        @Html.DisplayFor(a => itm.TimeStamp)
                    </td>
                </tr>
            }
            else if (itm.LogLevel != "L2 VERIFICATION")
            {
                <tr style="text-align:center">

                    <td style="text-align:left">
                        @Html.DisplayFor(a => itm.LogLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(a => itm.ActionTaken)
                    </td>
                    <td>
                        @Html.DisplayFor(a => itm.LoginId)
                    </td>
                    <td>
                        @Html.DisplayFor(a => itm.RejectDesc)
                    </td>
                    @*<td>
                            @Html.DisplayFor(a => itm.Comments)
                        </td>*@
                    <td>
                        @Html.DisplayFor(a => itm.TimeStamp)
                    </td>
                </tr>
            }

            if (itm.LogLevel == "L2 VERIFICATION" && (itm.ActionTaken.ToUpper() == "A" || itm.ActionTaken.ToUpper() == "R"))
            {
                cnt = 1;
            }

        }
    </table>
</div>

@*@{string module = ViewBag.backtomodule;

        @Html.ActionLink("Back", module, new { maintid = ViewBag.maintid })
    }*@
