@{
    ViewBag.Title = "DEM Interface";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Json2.js"></script>
@*<script src="~/Scripts/jquery-2.1.4.min.js"></script>*@
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

<script src="~/Scripts/OWChiInterface_F8.js"></script>
<link href="~/Content/themes/base/jquery-uiii.css" rel="stylesheet" />

<script type="text/javascript">
    var RootUrl = '@Url.Content("~/")';
</script>

<style>
    /*#div3 {
        background-color: cornflowerblue;
        width: 23.33%;
        float: left;
        margin: 0 auto;
    }

    #div1 {
        background-color: aquamarine;
        width: 23.33%;
        float: left;
    }

    #div2 {
        background-color: burlywood;
        width: 23.33%;
        margin: 0 auto;
    }*/
</style>

<br />
<div class="row col-md-12">
    <button type="button" id="Close" value="Close" class="btn-info col-md-1" onclick="Close()">Close</button>
    <button type="button" id="TerminateRequest" value="TerminateRequest" class="btn-info col-md-offset-1 col-md-1" onclick="TerminateRequest()">Terminate</button>
    <button type="button" id="CheckStatus" value="CheckStatus" class="btn-info col-md-offset-1 col-md-1" onclick="CheckStatus()">Check Status</button>
</div>
<br />
<div class="row col-md-12">
    <div id="div1" class="col-md-5" style="background-color:aliceblue;padding:5px;">
        <div class="row col-md-12">
            <label class="label col-md-offset-4 col-md-4" style="font-size:xx-large;text-align:center;color:Highlight;"><b>CXF</b></label>
        </div>
        <br />
        <div class="row col-md-12">
            <button type="button" id="CreateCXF" class="btn-info col-md-offset-3 col-md-6" onclick="CreateCXF()"> Create CXF </button>
        </div>
        <br />
        <div class="row col-md-12">
            <button type="button" id="UploadCXF" class="btn-info col-md-offset-3 col-md-6" onclick="UploadCXF()"> Upload CXF </button>
        </div>
        <br />
        <div class="row col-md-12">
            <button type="button" id="DownloadRES_OACK_CXF" class="btn-info col-md-offset-3 col-md-6" onclick="DownloadRES_OACK_CXF()"> Download RES/OACK </button>
        </div>
        <br />
        <div class="row col-md-12">
            <a id="Show_Records_CXF" class="col-md-offset-3 col-md-3" onclick="Show_Records_CXF()" data-toggle="modal" data-target="#basicModal"> Show Record </a>
            <a id="Show_Files_CXF" class="col-md-offset-1 col-md-3" onclick="Show_Files_CXF()" data-toggle="modal" data-target="#basicModal"> Show Files </a>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div id="div2" class="col-md-5" style="background-color:aliceblue;padding:5px;">
        <div class="row col-md-12">
            <label class="label col-md-offset-4 col-md-4" style="font-size:xx-large;text-align:center;color:Highlight;"><b>PPS</b></label>
        </div>
        <br />
        <div class="row col-md-12">
            <button type="button" id="Read_PPS_File" class="btn-info col-md-offset-3 col-md-6" onclick="Read_PPS_File()"> Read PPS File </button>
        </div>
        <br />
        <div class="row col-md-12">
            <button type="button" id="CreateCIIF" class="btn-info col-md-offset-3 col-md-6" onclick="CreateCIIF()"> Create CIIF </button>
        </div>
        <br />
        <div class="row col-md-12">
            <button type="button" id="UploadCIIF" class="btn-info col-md-offset-3 col-md-6" onclick="UploadCIIF()"> Upload CIIF </button>
        </div>
        <br />
        <div class="row col-md-12">
            <button type="button" id="DownloadRES" class="btn-info col-md-offset-3 col-md-6" onclick="DownloadRES()"> Download RES </button>
        </div>
        <br />
        <div class="row col-md-12">
            <a id="Show_Records_CIIF" class="col-md-offset-3 col-md-3" onclick="Show_Records_PPS()" data-toggle="modal" data-target="#basicModal"> Show Record </a>
            <a id="Show_Files_CIIF" class="col-md-offset-1 col-md-3" onclick="Show_Files_CIIF()" data-toggle="modal" data-target="#basicModal"> Show Files </a>
        </div>
    </div>
</div>
<br />
<div class="row col-md-12">
    <div id="div3" class="col-md-5" style="background-color:aliceblue;padding:5px;">
        <div class="row col-md-12">
            <label class="label col-md-offset-4 col-md-4" style="font-size:xx-large;text-align:center;color:Highlight;"><b>OTHER</b></label>
        </div>
        <br />
        <div class="row col-md-12">
            <button type="button" id="ReadBRF" class="btn-info col-md-offset-3 col-md-6" onclick="ReadBRF()"> Read BRF </button>
        </div>
        <br />
        <div class="row col-md-12">
            <a id="Show_Records_BRF" class="col-md-offset-3 col-md-3" onclick="Show_Records_BRF()" data-toggle="modal" data-target="#basicModal"> Show Record </a>
            <a id="Show_Files_BRF" class="col-md-offset-1 col-md-3" onclick="Show_Files_BRF()" data-toggle="modal" data-target="#basicModal"> Show Files </a>
        </div>
    </div>

</div>

<br />
@*<div class="row col-md-12">
        <div id="div5" class="col-md-5" style="background-color:aliceblue;padding:5px;">



        </div>

    </div>*@

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Display Data</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @*<h3>Modal Body</h3>*@
                @*@Html.Action("RejectReason", "OWBranchLevelDataEntry")*@
                <div id="tableData">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        var RootUrl = '@Url.Content("~/")';
        alert("@ViewBag.Message");
        //var url = RootUrl + "IWChiInterface/Index";
        //window.location.href = url;
    </script>
}
