@model IEnumerable<ikloud_Aflatoon.Infrastructure.Show_AllDetails_Reset>

<div class="row" id="tableData">
    <div class="col-md-12">
        <h3>@ViewBag.Heading</h3>
        <table class="table table-responsive table-bordered table-condensed" style="cursor:pointer;overflow:auto;font-size:x-small;overflow-y: scroll;">
            <thead>
                <tr style="background-color:lightblue;">

                    <th>ClearingType</th>
                    <th>Processingdate</th>
                    <th>CustomerId</th>
                    <th>ChequeNo</th>
                    <th>SortCode</th>
                    <th>SAN</th>
                    <th>TransCode</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.ClearingType</td>
                        <td>@Convert.ToDateTime(item.Processingdate).ToString("yyyy-MM-dd")</td>
                        <td>@item.CustomerId</td>
                        <td>@item.ChequeNo</td>
                        <td>@item.SortCode</td>
                        <td>@item.San</td>
                        <td>@item.Tc</td>
                        <td>@item.Amount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>