@{
    ViewBag.Title = "AdditionalDataEntry";
    // ViewBag.header = "L2 Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "@Url.Content("~/xhtml1-transitional.dtd")>

<script src="~/Scripts/Json2.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/jQueryRotate.js"></script>
<script src="~/Scripts/CMSEntry.js"></script>

@*<script src="~/Scripts/CMSEntryGetClient.js"></script>*@

<script type="text/javascript">
    var RootUrl = '@Url.Content("~/")';
</script>
@*@if (ViewBag.msg!=null)
    {
        <script type="text/javascript">
            alert('@ViewBag.msg');
        </script>
    }*@
@Html.AntiForgeryToken()
@Html.ValidationSummary()
    <form class="w3-form">

        <div class="w3-row w3-padding-4">
            <div class="w3-col  m4 w3-light-grey w3-large w3-border">
                <label class="w3-label w3-padding w3-text-dark-grey " style="float: initial;font-weight:500">Select ClientCode </label>
                <div class="w3-container" style="float: initial">
                    @Html.DropDownList("ClientCode", new SelectList(ViewBag.ClientCode), "Select", new { style = "width: 250px;" })
                    
                    <div>
                        <input class="w3-btn w3-padding" type="button" value="OK" id="btnClientCd" name="btnClientCd">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br />
        </div>
        <div id="clntSlip">

        </div>

        <div id="getcheqs">

        </div>
        <div style="display:none" id="btnslp" class="w3-row">
            <div class="w3-col m12 l12">
                <input class="w3-btn" type="button" id="slpadd" name="slpadd" value="Accept" />
            </div>
        </div>
    </form>
@*<script type="text/javascript">
    $("#ClientCode").prop("disabled", true);
</script>*@
