@model ikloud_Aflatoon.IWDataEntryView
@{
    /**/

    ViewBag.Title = "IWDataEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "@Url.Content("~/xhtml1-transitional.dtd")>
<script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/Json2.js")"></script>
<script src="@Url.Content("~/Scripts/modernizr-2.8.3.js")"></script>
@*<script src="~/Scripts/jquery-2.1.4.min.js"></script>*@
@*<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>*@
<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jQueryRotate.js")"></script>
<script src="@Url.Content("~/Scripts/IWDataEntry.js")"></script>
<script src="@Url.Content("~/Scripts/angular.min.js")"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<script type="text/javascript">
    var RootUrl = '@Url.Content("~/")';
    var acmaxlength = '@ViewBag.MaxAclen';
    var acminlength = '@ViewBag.MinAclen';
    var payeemaxlength = '@ViewBag.MaxPayeelen';

    acmaxlength = acmaxlength - 1;
    acminlength = acminlength - 1;
    payeemaxlength = payeemaxlength - 1;
</script>

<input type="hidden" id="accValidation" value="@Session["AccValidation"]" />
<input type="hidden" name="acmin" id="acmin" value="@Session["acfrm"]" />
<input type="hidden" id="nodata" value="@ViewBag.cnt" />
<input type="hidden" name="DEbySnpt" id="DEbySnpt" value="@Session["blndebysnippet"].ToString()" />

@if (ViewBag.cnt == false)
{
    <script type="text/javascript">
        alert('No Data Found!!');
    </script>
}
else
{
    using (Html.BeginForm("IWDataEntry", "IWDataEntry", FormMethod.Post))
    {
        <div class="w3-row w3-grey">
            <div class="w3-col m7 w3-center w3-dark-grey w3-padding">
                <img id="myimg" class="w3-card-8 w3-image" style="cursor: zoom-in" onclick="fullImage();" src="@Url.Content(Model.FrontGreyImagePath)" />

                <div id="divtiff">
                </div>


                <div id="iwimg" class="w3-modal w3-animate-zoom" onclick="this.style.display='none'">
                    <img id="myfulimg" class="w3-modal-content w3-card-8 w3-image" style="width: 90%; cursor: zoom-out" src="~/Icons/noimagefound.jpg" />>
                </div>

                <div class="w3-row w3-large w3-padding" style="display: none" id="MICR">
                    <div class="w3-col w3-center m2 ">
                        MICR:
                    </div>
                    <div class="w3-col w3-center m8 ">
                    </div>
                    <div class="w3-col w3-center m2" id="divctsnoncts" style="display: none">
                        <select id="ctsnocts" name="ctsnocts">
                            <option value="01">CTS</option>
                            <option value="11">Non-CTS</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="w3-row w3-padding">
                    <div class="w3-col m8">
                        <label class="w3-btn" onclick="callrotate();">Rotate Image</label>
                        <label class="w3-btn" onclick="ChangeImage('@Model.FrontTiffImagePath');">Front Tiff</label>
                        <label class="w3-btn" onclick="ChangeImage('@Model.FrontGreyImagePath');">Front Gray</label>
                        <label class="w3-btn" onclick="ChangeImage('@Model.BackTiffImagePath');">Back Tiff</label>
                        <label class="w3-btn" id="lblslpimg" style="display:none">Slip Image</label>
                    </div>

                </div>
            </div>
            <div class="w3-text-white">
                <br />
                <div class="w3-container w3-card-4">
                    <h3>&nbsp;&nbsp;<b>Cheque Data Entry Details</b></h3>
                    <br />
                    <table>
                        @Html.HiddenFor(m => m.Id)
                        <tr>
                            <td>&nbsp;&nbsp;<b>Account No: </b></td>
                            <td></td>
                            <td>
                                @*<input type="text" id="accountNo" autocomplete="off" maxlength="16" />*@
                                @Html.TextBoxFor(m => m.EntryAccountNo,
                                new
                                {
                                    style = "width:150px",
                                    //@onfocus = "ChangeImage('" + Model.BackTiffImagePath + "')",
                                    //@onblur = "ChangeImage('" + Model.FrontGreyImagePath + "')",
                                    autocomplete = "off"
                                })
                                &nbsp;&nbsp;<b>[ 1.2.3 ] </b>
                            </td>
                        </tr>

                        <tr>
                            <td>&nbsp;&nbsp;<b>Date: </b></td>
                            <td></td>
                            <td>
                                @*<input type="text" id="chequeDate" autocomplete="off" />&nbsp;&nbsp;<b>[ ddmmyy] </b>*@
                                @Html.TextBoxFor(m => m.EntryChqDate, new { autocomplete = "off", @maxlength = 6 })
                                &nbsp;&nbsp;<b>[ ddmmyy] </b>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;<b>PayeeName: </b></td>
                            <td></td>
                            <td>
                                @*<input type="text" id="payeeName" autocomplete="off" maxlength="50" />*@
                                @Html.TextBoxFor(m => m.XMLPayeeName, new { autocomplete = "off", @maxlength = 50 })
                            </td>
                        </tr>
                        <tr><td><br /></td><td></td><td></td></tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="submit" value="Save" id="btnSubmit" name="btnSubmit" />
                                <input type="button" value="Close" id="btnClose" name="btnClose" />
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    }
}
