@model IEnumerable<ikloud_Aflatoon.IWDateTmpProcess>
@{
    ViewBag.Title = "Date QC";
    ViewBag.header = "Date QC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "@Url.Content("~/xhtml1-transitional.dtd")>


<script src="~/Scripts/Json2.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jQueryRotate.js"></script>
<script src="~/Scripts/DateQCJS.js"></script>
<input type="hidden" id="stlmnt" value="@Session["Settelmentdate"]" />
<input type="hidden" id="sesson" value="@Session["StaleDate"]" />

<script type="text/javascript">
    var RootUrl = '@Url.Content("~/")';
</script>

<input type="hidden" id="nodata" value="@ViewBag.cnt" />
<input type="hidden" name="DEbySnpt" id="DEbySnpt" value="@Session["blndebysnippet"].ToString()" />
@if (ViewBag.cnt == false)
{
    <script type="text/javascript">
        alert('No Data Found!!');
    </script>
}
else
{
    <body class="w3-container w3-center">
        <div class="w3-modal-content w3-card-4 w3-center" id="AcSnipimg">
            <img id="myimg" class="w3-card-8 w3-image" style="cursor:pointer" src="~/Icons/noimagefound.jpg" />
        </div>

        <div id="AcFullimg" class="w3-modal-content w3-card-4 w3-center">
            <img id="myfulimg" class="w3-card-8 w3-image" style="cursor:pointer" src="~/Icons/noimagefound.jpg" />
        </div>

        <div class="w3-row w3-center">
            <div class="w3-col m12">
                <label class="w3-btn" onclick="ChangeImage('FTiff');">Front Tiff</label>
                <label class="w3-btn" onclick="ChangeImage('FGray');">Front Gray</label>
                <label class="w3-btn" onclick="ChangeImage('BTiff');">Back Tiff</label>
                <label class="w3-btn" onclick="fullImage();">Zoom Image</label>
            </div>
        </div>
        <div id="iwimg" class="w3-modal w3-animate-zoom ">
            <div class="w3-modal-content">
                <header class="w3-container w3-theme-dark">
                    <span onclick="document.getElementById('iwimg').style.display = 'none'" class="w3-closebtn">&times;</span>
                    <h2>Full Image</h2>
                </header>
                <div class="w3-container">
                    <img id="modelmyfulimg" class="w3-modal-content w3-card-8 w3-image" style="width:90%;cursor:zoom-out" src="~/Icons/noimagefound.jpg" />
                </div>
                <footer class="w3-container w3-theme-dark"></footer>
            </div>
        </div>
        <div>
            <br />
        </div>

        <form>
            <div>
                <span class="2" style="font-weight:700">  Enter Date:</span>
                <input style="font-weight:700" type="text" id="iwDateQc" name="iwDateQc" maxlength="6" />&nbsp;&nbsp;(DDMMYY)
            </div>
            <div>
                <input type="hidden" id="cnt" value="1" />
                <input type="hidden" id="tempcnt" value="1" />
            </div>
            <div>
                <br />
            </div>
            <div>

                <input class="w3-btn w3-margin-left" type="button" name="btnok" id="btnok" value="Accept" />
                <input class="w3-btn" type="button" id="btnback" value="Back" />
                <input class="w3-btn" type="button" id="btnRejct" value="Reject" />
                <input class="w3-btn" type="button" name="bbtnClose" id="bbtnClose" value="Close" />

            </div>
        </form>

    </body>

    <script language="javascript" type="text/javascript">

        var array = @Html.Raw(

                 Json.Encode(
                     (Model).Select(m=> new
                     {
                         ID = m.ID,
                         FrontGreyImagePath = m.FrontGreyImagePath,
                         ICRDate=m.ICRDate,
                         EntryDate = m.EntryDate,
                         sttsdtqc=m.sttsdtqc,
                         FrontTiffImagePath = m.FrontTiffImagePath,
                     })
                 )
             );
    if (document.getElementById('nodata').value != false)
    {
        //alert('ok');
        passval(array);
    }
    </script>
}
<div id="result">

</div>

<script type="text/javascript">
    function Sclose()
    {
      // alert('ok');
         document.getElementById('frmclose').submit();
    }
</script>
