@model ikloud_Aflatoon.Models.CMSCustAdditionalInput

@{
    ViewBag.Title = "Slip Additional Information";
    ViewBag.header = "SlipAdditionalInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "@Url.Content("~/xhtml1-transitional.dtd")>
<script src="~/Scripts/Json2.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/jQueryRotate.js"></script>
<script src="~/Scripts/CMSAddSlipInfo.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


@using (Html.BeginForm())
        {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


    @*<input type="hidden" id="impath" value="@Model.FrontGreyImagePath" />
    <input type="hidden" id="backimpath" value="@Model.BackGreyImagePath" />*@
    @Html.HiddenFor(m => m.ProdEffectiveDate)
    @Html.HiddenFor(m => m.InstrumentType)
    @Html.HiddenFor(m => m.ClientCode)
    @Html.HiddenFor(m => m.FrontGreyImagePath)
    @Html.HiddenFor(m => m.BackGreyImagePath)
    @Html.HiddenFor(model => model.CustomerId)
    @Html.HiddenFor(model => model.BranchCode)
    @Html.HiddenFor(model => model.ScanningNodeId)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.SlipNo)
    @Html.HiddenFor(model => model.BatchNo)
    
    @Html.HiddenFor(model => model.ID)
   @* @Html.HiddenFor(model => model.DivisionCode)
    @Html.HiddenFor(model => model.HiratchyCode)
    @Html.HiddenFor(model => model.CustDrawerCode)
    @Html.HiddenFor(model => model.SubcustomerCode)
    @Html.HiddenFor(model => model.ProdLCCPickup)*@





    <div class="w3-row">
        <fieldset>
            <legend class="w3-large">@Model.Legend:</legend>
            <div class="w3-col m8 w3-center w3-dark-grey w3-padding">
               
                <img class="w3-card-8 w3-image" id="myimg" src=@Model.FrontGreyImagePath style="cursor:zoom-in" onclick="fullImage();" />
            </div>

            <div id="Vouimg" class="w3-modal w3-animate-zoom " onclick="this.style.display='none'">
                <img id="myfulimg" class="w3-modal-content w3-card-8 w3-image" style="width: 90%; cursor: zoom-out" src="~/Icons/noimagefound.jpg" />
            </div>
            <div>
                <br />
            </div>
            @*<div class="w3-col w3-center m3" id="ImgToggle">*@
            <div  class="w3-col m8 w3-center w3-dark-grey w3-padding">
                <input class="w3-radio " type="radio" name="ImgToggle" id="frontimg" value="Front" checked /> <b>Front</b> &nbsp;&nbsp;
                <input class="w3-radio " type="radio" name="ImgToggle" id="backimg" value="Back" /> <b>Back</b>

            </div>

            <div class="w3-row w3-padding">
                <div class="w3-col m8">
                    <label class="w3-btn" onclick="callrotate();">Rotate Image</label>
                    <input class="w3-btn w3-margin-left" type="submit" name="btn" id="btnAccept" value="Accept" />
                    
                    <input class="w3-btn" type="submit" name="btn" id="btnHold" value="Hold" />
                    <input class="w3-btn" type="button" name="btn" id="btnShowChq" value="Show Cheque" />
                    <input class="w3-btn" type="button" name="btn" id="btnSupDoc" value="Show Supporting Doc" />
                    <input class="w3-btn" type="button" name="btnClose" id="btnClose" value="Close" />
                    @*<label class="w3-btn" onclick="ChangeImage('FGray');">Front Gray</label>
                    <label class="w3-btn" onclick="ChangeImage('BTiff');">Back Gray</label>*@
                </div>
            </div>
           
        </fieldset>
    </div>

    <div class="w3-container w3-padding-4 w3-border ">
        <fieldset>
            <legend class="w3-large">@Model.Legend:</legend>
            <div class="w3-row">
                <div class="w3-col m10 w3-large " ><label class="w3-label" style="color:red">Client Code : @Model.ClientCode</label>&nbsp;&nbsp;&nbsp;&nbsp; <label class="w3-label" style="color:red">Client Name : @Model.ClientName</label></div>
            </div>

              

                <div class="w3-row  w3-large">



                    @if (Model.ProdHierRequired == "Y")
                    {
                        <div class="w3-col m2"><label class="w3-label">Hierarchy Code</label></div>
                    }
                    @if (Model.ProdDivisionRequired == "Y")
                    {
                        <div class="w3-col m2"><label class="w3-label">Division Code</label></div>
                    }
                    @if (Model.ProdDrawerRequired == "Y")
                    {
                        <div class="w3-col m2"><label class="w3-label">Customer Drawer Name</label></div>
                    }
                    @if (Model.ProdSubcustomerRequired == "Y")
                    {
                        if (Model.ProdSubCustomerEntrylevel == "D")
                        {
                            <div class="w3-col m2"><label class="w3-label">SubCustomer Code</label></div>
                        }
                    }
                    @if (Model.ProdlccPickupRequired == "Y")
                    {
                        <div class="w3-col m2"><label class="w3-label">Product LCC Pickup</label></div>
                    }
                </div>
                <div class="w3-row">

                    @if (Model.ProdHierRequired == "Y")
                    {
                        <div class="w3-col m2 l2">
                            @Html.TextBoxFor(m => m.HiratchyCode, new { @onchange = "return(AllFieldsValiation('HiratchyCode'))" })
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.HiratchyCode)
                    }




                    @if (Model.ProdDivisionRequired == "Y")
                    {
                        <div class="w3-col m2 l2">
                            @Html.TextBoxFor(m => m.DivisionCode, new { @onchange = "return(AllFieldsValiation('DivisionCode'))" })
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.DivisionCode)
                    }


                    @if (Model.ProdDrawerRequired == "Y")
                    {
                        <div class="w3-col m2 l2">
                            @Html.TextBoxFor(m => m.CustDrawerCode, new { @maxlength = 50, @onchange = "return(AllFieldsValiation('CustDrawerCode'))" })
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.CustDrawerCode)
                    }

                    @if (Model.ProdSubcustomerRequired == "Y")
                    {
                        if (Model.ProdSubCustomerEntrylevel == "D")
                        {
                            <div class="w3-col m2 l2">
                                @Html.TextBoxFor(m => m.SubcustomerCode, new { @onchange = "return(AllFieldsValiation('SubcustomerCode'))" })
                            </div>
                        }

                    }
                    else
                    {
                        @Html.HiddenFor(model => model.SubcustomerCode)
                    }

                    @if (Model.ProdlccPickupRequired == "Y")
                    {
                        <div class="w3-col m2 l2">
                            @Html.TextBoxFor(m => m.ProdLCCPickup, new { @onchange = "return(AllFieldsValiation('ProdLCCPickup'))" })
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.ProdLCCPickup)
                    }
                </div>
                <div class="w3-row">
                    @if (Model.SlipRefNo == "")
                    {
                        <div class="w3-col m2">
                            <label class="w3-label">SlipRefNo</label>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.SlipRefNo)
                    }


                    @if (Model.Additional1Legend != null)
                    {
                        <div class="w3-col m2"><label class="w3-label">@Model.Additional1Legend</label> </div>
                        @Html.HiddenFor(m => m.Additional1ID)
                    }
                    @if (Model.Additional2Legend != null)
                    {
                        <div class="w3-col m2"><label class="w3-label">@Model.Additional2Legend</label></div>
                        @Html.HiddenFor(m => m.Additional2ID)
                    }
                    @if (Model.Additional3Legend != null)
                    {
                        <div class="w3-col m2"><label class="w3-label">@Model.Additional3Legend</label></div>
                        @Html.HiddenFor(m => m.Additional3ID)
                    }
                    @if (Model.Additional4Legend != null)
                    {
                        <div class="w3-col m2"><label class="w3-label">@Model.Additional4Legend</label></div>
                        @Html.HiddenFor(m => m.Additional4ID)
                    }
                    @if (Model.Additional5Legend != null)
                    {
                        <div class="w3-col m4"><label class="w3-label">@Model.Additional5Legend</label></div>
                        @Html.HiddenFor(m => m.Additional5ID)
                    }

                </div>
                <div class="w3-row">
                   @if (Model.SlipRefNo == "")
                   {
                        <div class="w3-col m2 l2">
                            @Html.TextBoxFor(m => m.SlipRefNo)
                        </div>
                    }

                    @if (Model.Additional1Legend != null)
                    {
                        <div class="w3-col m2 l2">
                            @Html.TextBoxFor(m => m.Additional1, new { @maxlength = @Model.Additional1_CUSPAI_DATA_SIZE, @onchange = "return(AllFieldsValiation('Additional1'))" })
                        </div>
                    }
                    @if (Model.Additional2Legend != null)
                    {
                        <div class="w3-col m2 l2">

                            @Html.TextBoxFor(m => m.Additional2, new { @maxlength = @Model.Additional2_CUSPAI_DATA_SIZE, @onchange = "return(AllFieldsValiation('Additional2'))" })
                        </div>
                    }
                    @if (Model.Additional3Legend != null)
                    {
                        <div class="w3-col m2 l2">

                            @Html.TextBoxFor(m => m.Additional3, new { @maxlength = @Model.Additional3_CUSPAI_DATA_SIZE, @onchange = "return(AllFieldsValiation('Additional3'))" })
                        </div>
                    }
                    @if (Model.Additional4Legend != null)
                    {
                        <div class="w3-col m2 l2">

                            @Html.TextBoxFor(m => m.Additional4, new { @maxlength = @Model.Additional4_CUSPAI_DATA_SIZE, @onchange = "return(AllFieldsValiation('Additional4'))" })
                        </div>
                    }
                    @if (Model.Additional5Legend != null)
                    {
                        <div class="w3-col m2 l2">

                            @Html.TextBoxFor(m => m.Additional5, new { @maxlength = @Model.Additional5_CUSPAI_DATA_SIZE, @onchange = "return(AllFieldsValiation('Additional5'))" })
                        </div>
                    }

                </div>
</fieldset>
    </div>
    }  



<script language="javascript" type="text/javascript">
    var RootUrl = '@Url.Content("~/")';
  // var imgval = document.getElementById('impath').value;

   // document.getElementById('myimg').src = imgval;
   // document.getElementById('btnslp').style.display = "";


    // function bindmodel() {
   // alert('aila');
    var modelDataJSON = '@Html.Raw(Json.Encode(Model))';
    updateSlip(modelDataJSON);


    //  }
</script>