@model ikloud_Aflatoon.GridMaster

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GridMaster</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.CreationDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreationDateTime)
            @Html.ValidationMessageFor(model => model.CreationDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>*@

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    
}
