@model ikloud_Aflatoon.IwSuspenseQueueView
@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "@Url.Content("~/xhtml1-transitional.dtd")>

<script type="text/javascript">


</script>

<script src="~/Scripts/ShowSuspenseQueueDetails.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<script type="text/javascript">

    var RootUrl = '@Url.Content("~/")';
</script>

<input type="hidden" id="BankCode" value="@ViewBag.BankCode" />
<input type="hidden" id="DecisionTaken" value="@ViewBag.DecisionTaken" />
<input type="hidden" id="RejectCodeTaken" value="@ViewBag.RejectCode" />
<input type="hidden" id="currentId" value="@Model.Id" />
<input type="hidden" id="branchCode" value="@Model.BranchCode" />
<input type="hidden" id="chequeAmount" value="@Model.Amount" />
<input type="hidden" id="chequeNumber" value="@Model.ChequeNumber" />
<input type="hidden" id="udk" value="@Model.UDK" />
<input type="hidden" id="waiveCharge" value="@Model.WaiveCharges" />


<div class="w3-hide">
    @Html.DropDownList("rtnlist", new SelectList(ViewBag.rtnlist), "Select")
    @Html.DropDownList("rtnlistDescrp", new SelectList(ViewBag.rtnlistDescrp), "Select")

</div>

<div class="container-fluid">
    <br />
    <div class="col-md-offset-2 col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="control-label col-md-6" style="text-align: left;">Account :</label>
                    <div class="col-md-6">
                        @*<label class="control-label" style="text-align: left;border:1px solid black;">@Model.AccountNumber</label>*@
                        <input type="text" class="form-control" value="@Model.AccountNumber" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="control-label col-md-6" style="text-align: left; ">Account Name :</label>
                    <div class="col-md-6">
                        @*<label class="control-label" style="text-align: left;">@Model.AccountName</label>*@
                        <input type="text" class="form-control" value="@Model.AccountName" disabled />
                    </div>
                </div>
            </div>
        </div>
        @*<br />*@
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="control-label col-md-6" style="text-align: left;">Available Balance :</label>
                    <div class="col-md-6">
                        @*<label class="control-label" style="text-align: left;">@Model.AvailabeAmount</label>*@
                        <input type="text" class="form-control" value="@Model.AvailabeAmount" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="control-label col-md-6" style="text-align: left;">Shadow Balance :</label>
                    <div class="col-md-6">
                        @*<label class="control-label" style="text-align: left;">@Model.ShadowBalance</label>*@
                        <input type="text" class="form-control" value="@Model.ShadowBalance" disabled />
                    </div>
                </div>
            </div>
        </div>
        @*<br />*@
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="control-label col-md-6" style="text-align: left;">Cheque No :</label>
                    <div class="col-md-6">
                        @*<label class="control-label" style="text-align: left;">@Model.ChequeNumber</label>*@
                        <input type="text" class="form-control" value="@Model.ChequeNumber" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="control-label col-md-6" style="text-align: left;">Amount :</label>
                    <div class="col-md-6">
                        @*<label class="control-label" style="text-align: left;">@Model.Amount</label>*@
                        <input type="text" class="form-control" value="@Model.Amount" disabled />
                    </div>
                </div>
            </div>
        </div>
        @*<br />*@
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="control-label col-md-6" style="text-align: left;">PO Number :</label>
                    <div class="col-md-6">
                        @*<label class="control-label" style="text-align: left;">@Model.PONumber</label>*@
                        <input type="text" class="form-control" value="@Model.PONumber" disabled />
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="control-label col-md-6" style="text-align: left;">PO Status :</label>
                    <div class="col-md-6">
                        @*<label class="control-label" style="text-align:left;">@Model.POStatus</label>*@
                        <input type="text" class="form-control" value="@Model.POStatus" disabled />
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="imageDiv" style="display:none;">
            <div class="col-md-12" style="float:left;">
                <div class="col-md-8">
                    <img id="myfulimg" class="" style="cursor:pointer;" src="~/Icons/noimagefound.jpg" />
                </div>

            </div>
            <div class="col-md-offset-1 col-md-1" style="float:left;">
                <span onclick="hideImage();">Hide</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12" style="float:left;">
                <div class="col-md-6">
                    <label class="control-label col-md-6" style="text-align: left;">Decision :</label>
                    <div class="col-md-6">
                        <input class="w3-text-dark-grey" id="Decision" name="Decision" type="text" style="width: 35px; float: left;font-weight:700;text-align:center" maxlength="1" onkeyup="IWVef();" />
                        <label class="control-label" style="float: left;margin-left:5px;">A - Accept </label><br />
                        <label class="control-label" style="float: left;margin-left: 5px;">R - Reject </label>
                    </div>


                </div>
                <div class="col-md-6">
                    <label class="control-label col-md-6" style="text-align: left;">Waive Charges :</label>
                    <div class="col-md-6">
                        <input type="radio" value="Yes" name="waiveCharges" id="waiveYes" /><b>Yes</b>&nbsp;&nbsp;&nbsp;
                        <input type="radio" value="No" name="waiveCharges" id="waiveNo" /><b>No</b>
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="rtncd" style="display: none; float: left;">
                <div class="col-md-6">
                    <label class="col-md-6 control-label test" style="float: left">Reason Code: </label>
                    <div class="col-md-6">
                        <input class="w3-text-dark-grey test" type="text" style="width: 35px; float: left;font-weight:700;text-align:center" maxlength="2" id="IWRemark" name="IWRemark" />
                        <span class="w3-opennav w3-margin-left test" onclick="document.getElementById('RejectReason').style.display = 'block';">&#9776;</span>

                    </div>
                </div>
                <div class="col-md-6">
                    <input class="w3-text-dark-grey" type="text" id="rejectreasondescrpsn" name="rejectreasondescrpsn"
                           maxlength="50" style="float: initial;font-weight:700;width:400px;margin-top:5px;" />
                </div>
            </div>
            <div class="col-md-12" style="float:left;">
                <div class="row">
                    <table class="table table-responsive table-bordered" id="tblDetails" style="display:none;">
                        <thead>
                            <tr style="background-color:lightblue;">
                                <th style="display:none;"></th>
                                <th>ChequeNo</th>
                                <th>SortCode</th>
                                <th>SAN</th>
                                <th>Transcode</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbody"></tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="col-md-12" style="margin-top:10px;float:left;">
                <input class="col-md-offset-2 btn btn-success col-md-2" type="button" name="btnSubmit" id="btnSubmit" value="Save" />
                <input class="col-md-offset-1 btn btn-info col-md-2" type="button" name="btnViewImage" id="btnViewImage" value="View Image" />
                <input class="col-md-offset-1 btn btn-danger col-md-2" type="button" name="btnClose" id="btnClose" value="Close" onclick="gotoPreviousPage('@Model.BranchCode');" />
            </div>
        </div>
    </div>



    <br />
</div>

<div id="RejectReason" class="w3-modal w3-animate-zoom ">

    <div class="w3-modal-content">
        <div class="w3-container w3-theme-dark">
            <span onclick="document.getElementById('RejectReason').style.display = 'none';"
                  class="w3-closebtn">&times;</span>
            <h2>Select Reject Reason</h2>
        </div>
        <div class="w3-container">

            @Html.Action("RejectReason", "IwSuspenseQueue")
        </div>
        <div class="w3-container">&nbsp;</div>
    </div>
</div>
